@import '_base.scss';

.login-modal {
    position: fixed;
    border: solid 4px $dblue;
    top: 20%;
    left: 50%;
    padding: 20px;
    width: 50%;
    transform: translate3d(25%, -80%, 0) scale(0.5);
    background: #ecf0f5;
    opacity: 0;
    visibility: hidden;
    /**/


    /**/
    @include trans();
    @include card(4);
    &.open {
        visibility: visible;

        z-index: 999;
        position: fixed;
        opacity: 1;
        transform: translateX(-50%) scale(1);

    }
    h3 {
        margin-top: 0;
    }
    .close-login {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        cursor: pointer;
        font-size: 2em;
        padding: 10px 15px;
        opacity: 0.2;
    }
    target {
        opacity:1;
        pointer-events: auto;
    }

}

.at-input {
    margin-bottom: 10px;
}

.modal-popUp {
    position: fixed;
    border: solid 4px $dblue;
    top: 10%;
    left: 52%;
    padding: 20px;
    width: 85%;
    transform: translate3d(25%, -80%, 0) scale(0.5);
    background: #FFF;
    opacity: 0;
    visibility: hidden;
    /**/


    /**/
    @include trans();
    @include card(4);
    &.open {
        visibility: visible;

        z-index: 999;
        position: fixed;
        opacity: 1;
        transform: translateX(-50%) scale(1);

    }
    h3 {
        margin-top: 0;
    }
    .close-login {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        cursor: pointer;
        font-size: 2em;
        padding: 10px 15px;
        opacity: 0.2;
    }
    target {
        opacity:1;
        pointer-events: auto;
    }

}

