<template name="GenericTask">
    {{> VentanaAcciones}}
    {{> VentanaComentario}}
    {{> VentanaAdjunto}}
    <div class="container">
        <div class="row">

            {{#each unidades}}
                <div class="col-md-6 col-sm-12">
                    <div class="todolist not-done">
                        <h3 class="text-center text-light-blue"><strong > Unidad {{numeroUnidad}}: {{titulo}}</strong></h3>


                        <hr>
                        <ul id="sortable" class="list-unstyled">
                            {{#each contenidos _id}}
                                <li class="ui-state-default">
                                    <div class="checkbox">
                                        <div class=" fa fa-circle {{estado}} "> {{textoEstado}}


                                        </div>
                                        <label>

                                            <div id="{{_id}}" >{{texto}}</div>  </label>

                                    </div>
                                    <div>
                                        <button class=" btn-warning  addButtonRounded btn-AccionTask"><strong><i class="fa fa-cog"></i>Acciones</strong></button>

                                        <a class="fa fa-comment-o pointerCursor comentAction"> {{comentarios _id}} Comentario(s)  </a>
                                        <a class="fa fa-upload pointerCursor adjuntAction"> {{adjuntos _id}} Adjuntos</a>
                                    </div>



                                </li>
                            {{/each}}
                        </ul>

                        <div class="todo-footer">
                            <strong><span class="count-todos"></span></strong>  Por Completar: {{pendientes _id}} Contenidos
                        </div>
                    </div>

                </div>
            {{/each}}

        </div>
    </div>
</template>