<template name="AreaConocimiento">
    <div class="col-md-6">
    <form id="area">

        <fieldset>
            <legend>Área de conocimiento</legend>
            {{#if modoEdicionAC}}
                <div class="col-md-12 text-center"  id="areaC">{{logedUserArea}}</div>

            {{else}}
                <div class="col-md-12 text-center"  id="areaC">{{areaPlan.areaConocimiento}}</div>

            {{/if}}

            <select class="col-md-12" id="areaConocimiento">
                <option value="null">Seleccionar...</option>
                {{#each areas}}

                    <option id="{{_id}}" value="{{value}}" class="text-center">{{text}}</option>
                {{/each}}
            </select>
        </fieldset>


    </form>
    </div>


</template>