<template name="Asignatura">
    <div class="col-md-6">
        <form id="asignaturaFrm">

            <fieldset>
                <legend>Asignatura</legend>

                <div class="col-md-12 text-center"  id="asignatura">{{asignaturaPlan}}</div>
                <select class="col-md-12" id="slcAsignatura">
                    <option value="null">Seleccionar...</option>
                    {{#each asignaturas}}

                        <option id="{{_id}}" value="{{value}}" class="text-center">{{text}}</option>
                    {{/each}}
                </select>
            </fieldset>


        </form>
    </div>



</template>