<template name="CurriculoIntegrador">
    {{> CurriculoIntegradorCatalog}}
    <div class="col-md-12">
        <form id="curriculo">

            <fieldset>
                <legend>Curriculo Integrador</legend>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="col-md-10"></div>
                        <button class="btnCurriculo addButtonRounded col-md-2"> <i class="fa fa-plus-circle"> Agregar</i></button>
                    </div>

                </div>
                <div class="container col-md-12">
                    <table class="blueTable">
                        <tr>
                            <th class="text-center">Eliminar</th>
                            <th class="text-center">Ejes de desarrollo y aprendizaje</th>
                            <th class="text-center">Ámbitos de desarrollo y aprendizaje</th>

                        </tr>
                        {{#each  curriculo}}
                            <tr>
                                <td class="eliminarCurriculo text-center pointerCursor"><i class="fa fa-close"></i></td>
                                <td class="text-center">{{ejesDesarrolloAprendizaje}}</td>
                                <td class="text-center">{{ambitosDesarrolloAprendizaje}}</td>

                            </tr>
                        {{/each}}

                    </table>
                </div>

                <div class="col-md-3"></div>
            </fieldset>


        </form>
    </div>
</template>