<template name="DatosInformativos">
    <fieldset class="col-md-12">
        <legend class="text-center">DATOS INFORMATIVOS</legend>
            <div class="col-md-10"></div>

                {{> AreaConocimiento}}
                {{> Asignatura}}
                {{> Docente}}
                {{> SubnivelEducativo}}
                {{> GradoCurso}}
                {{> Paralelos}}

    </fieldset>
</template>