<template name="Docente">
    <fieldset>
        <legend>Docentes</legend>

    {{> IngresarDocente}}
        <div class="col-md-3"></div>
        <div class="col-md-6">
    <table class="blueTable">
        <tr>
            <th class="text-center">Eliminar</th>
            <th class="text-center">Docente</th>
        </tr>
        {{#each  docentes.docentes}}
        <tr>
            <td class="eliminarDocente  text-center pointerCursor" title="Elminar éste registro!"><i class="fa fa-close"></i></td>
            <td class="text-center">{{nombre}}</td>

        </tr>
        {{/each}}
    </table>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-12">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button class="btnAgregar addButtonRounded col-md-12" title="click aquí para agregar docentes al plan!"><i class="fa fa-plus-circle"> Agregar</i></button>
            </div>
        </div>
    </fieldset>
</template>