<template name="GradoCurso">
    <div class="col-md-6">
        <form id="gradoCurso">

            <fieldset>
                <legend>Grado/Curso</legend>
                {{#if modoedicion}}
                    <div class="col-md-12 text-center"  id="gradoC">{{gradoNuevo}}</div>

                {{else}}
                    <div class="col-md-12 text-center"  id="gradoC">{{gradoPlan.gradoCurso}}</div>

                {{/if}}
                <select class="col-md-12" id="gradosCurso">
                    <option value="null">Seleccionar...</option>
                    {{#each gradoCurso}}

                        <option id="{{_id}}" value="{{value}}" class="text-center">{{text}}</option>
                    {{/each}}
                </select>
            </fieldset>


        </form>
    </div>
</template>