<template name="Paralelos">
    <div class="col-md-3"> </div>
        <div class="col-md-6">
            <form id="paralelo">

                <fieldset>
                    <legend>Paralelo</legend>
                        <div class="col-md-4"></div>
                    <select class="col-md-12" id="slcParalelo">
                        <option value="null">Selecciona un paralelo para agregar...</option>
                        {{#each paralelos}}

                            <option id="{{_id}}" value="{{nombreParalelo}}" class="text-center">{{nombreParalelo}}</option>
                        {{/each}}
                    </select>
                    <table class="blueTable">
                        <tr>
                            <th class="text-center">Quitar</th>
                            <th class="text-center">Paralelo</th>
                        </tr>
                        {{#each  paralelosPlan.paralelos}}
                            <tr>
                                <td class="eliminarParalelo pointerCursor text-center" title="Eliminar Paralelo"><i class="fa fa-close"></i></td>
                                <td class="text-center">{{nombre}}</td>

                            </tr>
                        {{/each}}
                    </table>
                </fieldset>


            </form>
        </div>


</template>