<template name="SubnivelEducativo">
    <div class="col-md-6">
        <form id="subnivel">

            <fieldset>
                <legend>Subnivel Educativo</legend>
                {{#if modoedicion}}
                    <div class="col-md-12 text-center"  id="subnivelE">{{subnivelNuevo}}</div>

                {{else}}
                    <div class="col-md-12 text-center"  id="subnivelE">{{subnivelUsuario}}</div>

                {{/if}}
                <select class="col-md-12" id="subnivelEducativo">
                    <option value="null">Seleccionar...</option>
                    {{#each subnivel}}

                        <option id="{{_id}}" value="{{value}}" class="text-center">{{text}}</option>
                    {{/each}}
                </select>
            </fieldset>


        </form>
    </div>

</template>