<template name="LoginModal">
        <div class=" col-md-6 login-modal {{$.Session.get 'nav-toggle'}}">
            <i class="fa fa-close close-login"></i>
            <form id="NewUser">

                <fieldset>
                    <legend>Nuevo Usuario <i class="fa fa-user-circle"></i></legend>


                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div><h5>Correo Institucional:</h5></div>
                                <div class="col-md-12">
                                    <div class="col-md-1"></div>
                                    <input type="email" required name="usuario" id="usuario" class="col-md-10  usuario" placeholder="Correo">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div><h5>Contraseña:</h5></div>
                                <div class="col-md-12">
                                    <div class="col-md-1"></div>
                                    <input type="password" required name="contrasenia" id="contrasenia" class="col-md-10 border-cajas contrasenia" placeholder="Contraseña">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div><h5>Apellido:</h5></div>
                                <div class="col-md-12">
                                    <div class="col-md-1"></div>
                                    <input type="text" required name="apellido" id="apellido" class="col-md-10 border-cajas apellido" placeholder="Apellido">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div><h5>Apellido2:</h5></div>
                                <div class="col-md-12">
                                    <div class="col-md-1"></div>
                                    <input type="text" required name="apellido2" id="apellido2" class="col-md-10 border-cajas apellido2" placeholder="Apellido2">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div><h5>Nombre:</h5></div>
                                <div class="col-md-12">
                                    <div class="col-md-1"></div>
                                    <input type="text" required name="nombre"  id="nombre" class="col-md-10 border-cajas nombre" placeholder="Nombre">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div><h5>Nombre2:</h5></div>
                                <div class="col-md-12">
                                    <div class="col-md-1"></div>
                                    <input type="text" required name="nombre2" id="nombre2" class="col-md-10 border-cajas nombre2" placeholder="Nombre2">
                                </div>
                            </div>
                        </div>
                        <div><h5>Area de Conocimiento:</h5></div>
                        <div class="col-md-12">
                            <div class="col-md-1"></div>
                            <select class="col-md-8" required name="aConocimiento" id="aConocimiento">
                                <option value="">Seleccione...</option>
                                <option value="CIENCIAS NATURALES">Ciencias naturales</option>
                                <option value="CIENCIAS SOCIALES">Ciencias sociales</option>
                                <option value="EDUCACIÓN CULTURAL Y ARTÍSTICA">Educación cultural y artística</option>
                                <option value="EDUCACIÓN FISICA">Educación física</option>
                                <option value="EGBE">EGB-E</option>
                                <option value="FORMACIÓN CRISTIANA">Formación Cristiana</option>
                                <option value="ENGLISH AS A FOREIGN LANGUAGE">English as a foreign language</option>
                                <option value="LENGUA Y LITERATURA">Lengua y literatura</option>
                                <option value="MATEMÁTICA">Matemática</option>
                                <option value="FORMACIÓN INTEGRAL">Formación integral</option>

                            </select>
                        </div>
                        <div><h5>Subnivel Educativo:</h5></div>
                        <div class="col-md-12">
                            <div class="col-md-1"></div>
                            <select class="col-md-8" required name="aConocimiento" id="subnivelE">
                                <option value="">Seleccione...</option>
                                <option value="PREPARATORIO">Preparatorio</option>
                                <option value="EGBE">EGB-E</option>
                                <option value="EGBM">EGB-M</option>
                                <option value="EGBS">EGB-S</option>
                                <option value="BGU">BGU</option>

                            </select>
                        </div>


                        <div class="col-md-4"></div>
                        <button class=" btn-default btn-AgregarUsuario addButtonRounded"><strong><i class="fa fa-plus-square"></i>Agregar</strong></button>
                    </div>

                </fieldset>


            </form>

        </div>

</template>