
<template name="Dashboard">
      {{#if currentUser}}
             <h3 class="text-center page-title homeTitle"></h3>

          <div class="col-md-12">
              <img src="/planAnual.png" class="img-responsive img img-bordered col-md-8">
              <div class="col-md-4">
                  <br>
                  <br>
                  <br>
                  <h3 class="text-center trabajoColaborativo"><i class="fa fa-bell-o"></i>Crea</h3>
                  <p class="text-justify">EASY Planner te permite crear y editar tus planificaciones de una forma sencilla, estás a un par de clicks del ratón de terminar. </p>
              </div>
          </div>

          <div class="col-md-12">
              <br>
              <br>
              <div class="col-md-4">
                  <br>
                  <br>
                  <br>
                  <h3 class="text-center disenioWeb"><i class="fa fa-slideshare"></i>Comparte</h3>
                  <p class="text-justify">Permite que tus compañeros aporte en tu trabajo y ayúdales con su planificación, comparte tus archivos desde el menú en las secciones principales, no olvides buscar el incono de <i class="fa fa-slideshare"></i> </p>
              </div>

              <img src="/compartir.png" class="img-responsive img img-bordered col-md-8">

          </div>
          <div class="col-md-12">
              <br>
              <br>
              <img src="/reportesImg.png" class="img-responsive img img-bordered col-md-8">
              <div class="col-md-4">
                  <br>
                  <br>
                  <br>
                  <h3 class="text-center reportes"><i class="fa fa-print"></i>Genera e Imprime</h3>
                  <p class="text-justify">Termina tu planificación y busca el botón ícono <i class="fa fa-battery-full"></i> para ver como quedaría tu plan impreso, luego puedes imprimir tu plan, no olvides buscar el botón con el ícono <i class="fa fa-file-pdf-o"></i></p>

              </div>


          </div>

          <div class="col-md-12">
              <br>
              <br>
              <div class="col-md-4">
                  <br>
                  <br>
                  <br>
                  <h3 class="text-center reportes"><i class="fa fa-calendar-o"></i>Plan Elemental</h3>
                  <p class="text-justify">Pensado en los educadores de los mas pequeñitos, el Plan Elemental ésta diseñado para las planificaciones de los primeros años de educación básica, para encontrarlo, no olvides éste icono <i class="fa fa-calendar-o"></i> </p>

              </div>

              <img src="/planElemental.png" class="img-responsive img img-bordered col-md-8">

          </div>



          <div class="col-md-12">
              <br>
              <br>

              <h2 class="text-center blueICO">Descubre en Easy Planner</h2>
              <div class="col-md-4">
                  <div class="col-md-3"></div>
                  <img src="/pc.png" class="img-responsive img-circle col-md-6">
                  <div class="col-md-12">
                      <h3 class="text-center disenioWeb">Diseño Orientado a la Web</h3>
                      <p class="text-justify">Utiliza la plataforma desde el navegador de tu preferencia, no necesitas instalar ningún software. </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="col-md-3"></div>
                  <img src="/trabajoColaborativo.png" class="img-responsive img-circle col-md-6">
                  <div class="col-md-12">
                      <h3 class="text-center trabajoColaborativo">Trabajo Colaborativo</h3>
                      <p class="text-justify">Comparte tus planificaciones con tus compañeros de área, fomenta el trabajo colaborativo. </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="col-md-3"></div>
                  <img src="/reportes.png" class="img-responsive img-circle col-md-6">
                  <div class="col-md-12">
                      <h3 class="text-center reportes">Reportes</h3>
                      <p class="text-justify">Genera tus planificaciones en formato PDF y visulizalas desde el menu "Reportes" . </p>
                  </div>
              </div>

          </div>
         <div class="espacio"></div>

             {{>AppNav}}
        {{else}}
    <h1>Acceso denegado</h1>
          <h3 class="text-center">Regresar a la pagina de inicio <a href="/">aquí</a></h3>
      {{/if}}
</template>