

<template name="Home">
    <div class="particle-wrap">
        <div id="particles-js"></div>
    </div>

        <div class="pen-title">
            <img alt="Level Up Tutorials Logo" src="/logo.png" width="200">
            <h2 >EASY PLANNER </h2>
            <h5><strong><em>"NUNCA FUE TAN FÁCIL"</em></strong></h5>
        </div>

       {{> Login}}

</template>
