

<template name="Login">

    <div class="module form-module">
        <div class="toggle"><i class="fa fa-times fa-user-circle-o"></i>
            <div class="tooltip">Click Me</div>
        </div>
        <div class="form">
            {{> atForm}}
        </div>
    </div>

</template>
