<template name="NewUser">

    <div class="col-md-12 login-modal {{$.Session.get 'nav-newUser'}}">
        <i class="fa fa-close close-newUser login-toggle"></i>
        <form id="IngresarActividadFrm" role="form">

            <fieldset>
                <legend>Nuevo Usuario</legend>


                <div class="col-md-12">
                    <div class="col-md-12">
                        <h5>Primer Nombre:</h5>
                        <input type="text" required oninvalid="this.setCustomValidity('Campo Requerido')" class="col-md-10" id="primerNombre">
                    </div>
                    <div class="col-md-12">
                        <h5>Segundo Nombre (si no tiene ingrese "-"):</h5>
                        <input type="text" required oninvalid="this.setCustomValidity('Campo Requerido')"  class="col-md-10" id="segundoNombre">
                    </div>
                    <div class="col-md-12">
                        <h5>Primer Apellido:</h5>
                        <input type="text" required oninvalid="this.setCustomValidity('Campo Requerido')"  class="col-md-10" id="primerApellido">
                    </div>
                    <div class="col-md-12">
                        <h5>Segudno Apellido (si no tiene ingrese "-"):</h5>
                        <input type="text" required oninvalid="this.setCustomValidity('Campo Requerido')"  class="col-md-10" id="segundoApellido">
                    </div>
                    <div class="col-md-12">
                        <h5>Correo electrónico:</h5>
                        <input type="email" required oninvalid="this.setCustomValidity('Campo Requerido')"  class="col-md-10" id="correoElectronico">
                    </div>
                    <div class="col-md-12">
                        <h5>Contraseña:</h5>
                        <input type="password" required oninvalid="this.setCustomValidity('Campo Requerido')"  class="col-md-10" id="contrasenia">
                    </div>
                    <div class="col-md-12">
                        <h5>Área de conocimiento:</h5>
                        <select class="col-md-12 slcAreas select2" id="slcAreas">
                            <option value="" class="text-center">Seleccionar...</option>


                            <option  value="" class="text-center">seleccionar...</option>
                            <option  value="CIENCIAS NATURALES" class="text-center">Ciencias naturales</option>
                            <option  value="CIENCIAS SOCIALES" class="text-center">Ciencias sociales</option>
                            <option  value="EDUCACIÓN CULTURAL Y ARTÍSTICA" class="text-center">Educación cultual y artística</option>
                            <option  value="EDUCACIÓN FÍSICA" class="text-center">Educación física</option>
                            <option  value="EGBE" class="text-center">EGB-E</option>
                            <option  value="FORMACIÓN CRISTIANA" class="text-center">Formación Cristiana</option>
                            <option  value="ENGLISH AS A FOREIGN LANGUAGE" class="text-center">English as a foreign language</option>
                            <option  value="LENGUA Y LITERATURA" class="text-center">Lengua y literatura</option>
                            <option  value="MATEMÁTICA" class="text-center">Matemática</option>
                            <option  value="FORMACIÓN INTEGRAL" class="text-center">Formación Integral</option>

                        </select>
                    </div>
                    <div class="col-md-12">
                        <h5>Subnivel Educativo:</h5>
                        <select class="col-md-12 slcSubnivel select2" id="slcSubnivel">
                            <option value="" class="text-center">Seleccionar...</option>


                            <option  value="PREPARATORIO" class="text-center">Preparatorio</option>
                            <option  value="EGBE" class="text-center">EGB-E</option>
                            <option  value="EGBM" class="text-center">EGB-M</option>
                            <option  value="EGBS" class="text-center">EGB-S</option>
                            <option  value="BGU" class="text-center">BGU</option>

                        </select>
                    </div>

                    <div class="col-md-12">
                        <input type="submit"  class=" btn-success btn-AgregarActividad col-md-2 addButtonRounded" value="Agregar">
                    </div>
                </div>

            </fieldset>


        </form>
    </div>




</template>
