<template name="Users">
  {{> UserNav}}
    {{>NewUser}}
    {{#if currentUser}}
        {{#if isInRole 'admin'}}
            <br>
            <br>
            <br>
                <h2 class="text-center">Usuarios</h2>
                <table class="{{editMode}} blueTable">
                    <tr>
                        <th>Editar</th>
                        <th>Usuario</th>
                        <th>Nombres</th>
                        <th>Fecha Creación</th>
                        <th>Roles</th>
                    </tr>
                {{#each users}}
                    <tr>
                        <td class="user_id"><i class="fa fa-pencil"></i></td>
                        <td class="text-center">{{{userEmail}}}</td>
                        <td class="text-center">{{profile.lastName}} {{profile.firstName }}</td>
                        <td class="text-center">{{dateFormat}}</td>
                        <td class="text-center"><div class="rojoDesahabilitado">{{isDisable}}</div> <div>{{isAdmin}}</div> <div>{{isEducador}}</div> <div>{{isCoordinador}}</div> <div>{{isJefeArea}}</div> <div>{{isEducadorEL}}</div>
                            {{#if currentEdit}}
                                <div class="editarRoles">

                                    <h5>  <i title="cerrar" class="fa fa-close rojoICO pointerCursor close-edit-mode"></i> Editar Roles</h5>
                                    {{#if isAdmin}}
                                        <a class="toggle-admin pointerCursor">Administrador <i class="rojoICO fa fa-close"></i></a>
                                        {{else}}
                                        <a class="toggle-admin pointerCursor">Administrador <i class="verdeICO fa fa-check "></i></a>
                                    {{/if}}
                                    {{#if isEducador}}
                                        <a class="toggle-educador pointerCursor">Educador <i class="rojoICO fa fa-close "></i></a>
                                    {{else}}
                                        <a class="toggle-educador pointerCursor">Educador <i class="verdeICO fa fa-check "></i></a>
                                    {{/if}}
                                    {{#if isEducadorEL}}
                                        <a class="toggle-educadorEL pointerCursor">Educador EL <i class="rojoICO fa fa-close "></i></a>
                                    {{else}}
                                        <a class="toggle-educadorEL pointerCursor">Educador EL<i class="verdeICO fa fa-check "></i></a>
                                    {{/if}}
                                    {{#if isCoordinador}}
                                        <a class="toggle-coordinador pointerCursor">Coordinador <i class="rojoICO fa fa-close "></i></a>
                                    {{else}}
                                        <a class="toggle-coordinador pointerCursor">Coordinador <i class="verdeICO fa fa-check "></i></a>
                                    {{/if}}
                                    {{#if isJefeArea}}
                                        <a class="toggle-jefeArea pointerCursor">Jefe de Área <i class="rojoICO fa fa-close "></i></a>
                                    {{else}}
                                        <a class="toggle-jefeArea pointerCursor">Jefe de Área <i class="verdeICO fa fa-check  "></i></a>
                                    {{/if}}
                                    {{#if isDisable}}
                                        <a class="toggle-deshabilitado pointerCursor">Deshabilitar<i class="rojoICO fa fa-close "></i></a>
                                    {{else}}
                                        <a class="toggle-deshabilitado pointerCursor">Deshabilitar <i class="verdeICO fa fa-check  "></i></a>
                                    {{/if}}
                                </div>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
                </table>
            {{else}}
            <h1>Acceso denegado</h1>
            <h3>Regresar al dashboard <a href="/dashboard">aquí</a></h3>
            {{/if}}
    {{else}}
        <h1>Acceso denegado</h1>
        <h3>Regresar a la pagina de inicio <a href="/">aquí</a></h3>
    {{/if}}
    <nav class=" col-md-3 main-nav">
        <ul>
            <button class=" col-md-12 fa fa-file-pdf-o btn-default navYearPlanner-rightCorner navYearPlanner-leftCorner generarPDF"> Descargar Listado</button>

        </ul>
    </nav>
</template>