<template name="Bibliografia">
    <div class="col-md-12">
        <fieldset>
            <legend>Bibliografía y Webgrafía</legend>


            <div class="col-md-12">
                <input type="text" id="inputBibliografia" class="col-md-11" name="inputBibliografia" placeholder="escribala referencia bibliográfica..." >
                <div class="col-md-12">
                    <div class="col-md-10"></div>
                    <button class="btnBibliografia addButtonRounded col-md-2"><i class="fa fa-plus-circle"> Agregar</i></button>
                </div>

            </div>
            <div class="container col-md-12">
                <table class="blueTable">
                    <tr>
                        <th class="text-center">Eliminar</th>
                        <th class="text-center">Bibliografía</th>
                    </tr>
                    {{#each  bilbiografiaList}}
                        <tr>
                            <td class="eliminarBibliografia text-center pointerCursor"><i class="fa fa-close"></i></td>
                            <td class="text-center">{{texto}}</td>

                        </tr>
                    {{/each}}

                </table>
            </div>
            <div class="col-md-3"></div>
        </fieldset>
    </div>
</template>