<template name="ActividadesCatalog">

    <div class="col-md-12 login-modal {{$.Session.get 'nav-actividades'}}">
        <i class="fa fa-close close-actividad login-toggle"></i>
        <form id="IngresarActividadFrm">

            <fieldset>
                <legend>Actividades</legend>


                <div class="col-md-12">
                    <span class="col-md-12 rojoResaltar">*Recuerde que para ingresar una actividad diferente a la de la lista, debe escribirlo y presionar <strong>ENTER</strong> para de ingresarlo</span>

                    <select class="col-md-12 slcActividades select2" id="slcActividades">
                        <option value="" class="text-center">Seleccionar...</option>

                        {{#each actividades}}

                            <option id="{{_id}}" value="{{actividad}}" class="text-center">{{actividad}}</option>
                        {{/each}}

                    </select>

                    <textarea rows="5" class="col-md-12 txtAreaDetalleActividad"  placeholder="Ingrese un detalle de la actividad (máximo 70 caracteres)" maxlength="70"  id="txtAreaDetalleActividad"></textarea>

                    <div class="col-md-2"></div>
                    <button class=" btn-default btn-AgregarActividad addButtonRounded"><strong><i class="fa fa-plus-square"></i>Agregar</strong></button>
                </div>

            </fieldset>


        </form>
    </div>




</template>