<template name="AdaptacionesCurricularesCatalog">

    <div class="col-md-12 login-modal {{$.Session.get 'nav-acurriculares'}}">
        <i class="fa fa-close close-acurriculares login-toggle"></i>
        <form id="IngresarAdaptacionesCurricularesFrm">

            <fieldset>
                <legend>Adaptaciones Curriculares</legend>

                <div class="col-md-12">
                    <h4 class="text-center">Necesidades Educativas Especiales </h4>
                    <div class="col-md-12">
                        <h5 class="col-md-12 text-center">Nombre del alumno:</h5>
                        <input type="text" id="alumnoAdaptacion" class="col-md-11" name="alumnoAdaptacion" >
                        <h5 class="col-md-12 text-center">Diagnostico:</h5>
                        <textarea name="textAreaDiagnostico" id="textAreaDiagnostico" class="col-md-12" rows="2"></textarea>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-12 text-center"  id="tipo">Temporalidad:</div>
                            <select class="col-md-12" id="tipoNEE">
                                <option value="null">Seleccionar...</option>


                                    <option  value="Transitoria" class="text-center">Transitoria</option>
                                    <option  value="Permanente" class="text-center">Permanente</option>

                            </select>
                        </div>
                        <select class="col-md-12 slcNEE select2" id="slcNEE">
                            <option value="" class="text-center">Seleccionar..</option>

                            {{#each especificacionNEE}}

                                <option value="{{especificacion}}" class="text-center">{{especificacion}}</option>
                            {{/each}}

                        </select>
                    </div>
                    <div class="col-md-12">
                        <h4 class="text-center">Estrategias a aplicarse </h4>
                        <div class="col-md-12">
                            <div class="col-md-12 text-center"  id="tipo">Grado:</div>
                            <select class="col-md-12" id="tipoDIAC">
                                <option value="null">Seleccionar...</option>


                                <option  value="1" class="text-center">Uno</option>
                                <option  value="2" class="text-center">Dos</option>
                                <option  value="3" class="text-center">Tres</option>

                            </select>
                        </div>

                        <select class="col-md-12 slcDIAC select2" id="slcDIAC">
                            <option  value="" class="text-center">Seleccionar..</option>

                            {{#each diac}}

                                <option  value="{{adaptacion}}" class="text-center">{{adaptacion}}</option>
                            {{/each}}

                        </select>
                    </div>
                    <div class="col-md-4"></div>
                    <button class=" btn-default btn-AgregarEspecificacion addButtonRounded"><strong><i class="fa fa-plus-square"></i>Agregar</strong></button>
                </div>

            </fieldset>


        </form>
    </div>




</template>