<template name="AsignaturaCatalog">
    <div class="nueva-asignatura">
        <i class="fa fa-close"></i>
        {{> quickForm collection="Asignaturas" id="insertAsignaturaForm" type="insert" class="new-asignatura-form"}}
    </div>
</template>