<template name="ConfiguracionCatalog">

    <div class="col-md-12 login-modal {{$.Session.get 'nav-configuracion'}}">
        <i class="fa fa-close close-configuracion login-toggle"></i>
        <form id="ConfiguracionFrm">

            <fieldset>
                <legend>Compartir <i class="fa fa-slideshare"></i></legend>


                <div class="col-md-12">
                    <h5>Compartir plan con:</h5>
                    <input list="slcCompartido" name="listaDocentes" id="listaDocentes" class="col-md-12 border-special" placeholder="escribe el el nombre del docente a buscar...">
                    <datalist class="col-md-9" id="slcCompartido">

                        {{#each docentes}}
                            {{#each emails}}

                                <option id="{{_id}}" value="{{address}}" class="text-center"></option>
                            {{/each}}
                        {{/each}}

                    </datalist>
                    <button class=" btn-default btn-agregarCompartido addButtonRounded"><strong><i class="fa fa-check"></i>Compartir</strong></button>

                    <h5>El plan esta siendo compartido con:</h5>
                    <table class="orangeTable">
                        <tr>

                            <th class="text-center">Eliminar</th>

                            <th class="text-center">Correo</th>
                        </tr>
                        {{#each listaCompartido.compartido}}
                            <tr>
                                <td class="eliminarCompartido text-center pointerCursor"><i class="fa fa-close"></i></td>

                                <td class="text-center">{{correoElectronico}}</td>

                            </tr>
                        {{/each}}
                    </table>
                </div>

            </fieldset>


        </form>
    </div>




</template>