<template name="ContenidosCatalog">

    <div class="col-md-12 login-modal {{$.Session.get 'nav-contenidos'}}">
        <i class="fa fa-close close-contenidos login-toggle"></i>
        <form id="IngresarContenidosFrm">

            <fieldset>
                <legend>Contenidos Conceptuales</legend>


                <div class="col-md-12">
                    <div><h4>Duración (semanas):</h4></div>
                    <input type="number" min="0" name="tiempoContenidosConceptuales" id="tiempoContenidosConceptuales" class="col-md-3 border-special" placeholder="tiempo contenido conceptual">
                </div>
                    <div class="col-md-12">
                    <div><h4>Contenido conceptual:</h4></div>
                        <span class="col-md-12 rojoResaltar">*Recuerde que para ingresar un contenido diferente al de la lista, debe escribirlo y presionar <strong>ENTER</strong> para de ingresarlo</span>

                        <select class="col-md-12 slcContenidosConceptuales select2" id="slcContenidosConceptuales">
                            <option  value="" class="text-center">Seleccionar</option>

                            {{#each contenidos}}

                            <option id="{{_id}}" value="{{contenidoConceptual}}" class="text-center">{{contenidoConceptual}}</option>
                        {{/each}}

                    </select>
                    <div><h4>Detalle:</h4></div>
                    <textarea rows="3"  class="col-md-12" id="txtAreaDetalleContenido" name="txtAreaDetalleContenido" placeholder="escriba el detalle del contenido seleccionado"></textarea>

                </div>
                <div class="col-md-12">
                    <button class=" btn-default btn-AgregarContenidos addButtonRounded"><strong><i class="fa fa-plus-square"></i>Agregar</strong></button>
                </div>


            </fieldset>


        </form>
    </div>




</template>