<template name="CriteriosCatalog">

    <div class="col-md-12 login-modal {{$.Session.get 'nav-criterios'}}">
        <i class="fa fa-close close-ingresarCriterios login-toggle"></i>
        <form id="IngresarCriteriosFrm">

            <fieldset>
                <legend>Criterios Evaluación</legend>


                <div class="col-md-12">

                    <input list="slcCriterio" name="criterio" id="criterio" class="col-md-12 border-special" placeholder="escribe el codigo del objetivo para buscar...">
                    <datalist class="col-md-9" id="slcCriterio">

                        {{#each criterios}}

                            <option id="{{_id}}" value="{{criterioEvaluacion}}" class="text-center"></option>
                        {{/each}}

                    </datalist>
                    <textarea rows="5" disabled class="col-md-12" id="txtAreaCriterioEvaluacion"></textarea>

                    <div class="col-md-2"></div>
                    <button class=" btn-default btn-verCriterioEvaluacion addButtonRounded"><strong><i class="fa fa-search-plus"></i>Detalle</strong></button>
                    <button class=" btn-default btn-AgregarCriterio addButtonRounded"><strong><i class="fa fa-plus-square"></i>Agregar</strong></button>
                </div>

            </fieldset>


        </form>
    </div>




</template>