<template name="CurriculoIntegradorCatalog">

    <div class="col-md-12 login-modal {{$.Session.get 'nav-curriculoIntegrador'}}">
        <i class="fa fa-close close-curriculoIntegrador login-toggle"></i>
        <form id="IngresarCurriculoFrm">

            <fieldset>
                <legend>Curriculo Integrador</legend>
                <div class="col-md-12">

                    <div class="col-md-6">
                        <h4>Ejes de desarrollo</h4>
                        <select  class="col-md-12" id="ejesDesarrollo">
                            <option value="null">Seleccionar...</option>
                            {{#each ejesDesarrollo}}

                                <option id="{{_id}}" value="{{eje}}" class="text-center">{{eje}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="col-md-6">
                        <h4 class="col-md-12">Ámbitos de desarrollo</h4>
                        <select  class="col-md-12" id="ambitosDesarrollo">
                            <option value="null">Seleccionar...</option>
                            {{#each ambitoDesarrollo}}

                                <option id="{{_id}}" value="{{ambitosDesarollo}}" class="text-center">{{ambitosDesarollo}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="col-md-3"></div>
                <button class=" btn-default btn-AgregarCurriculo addButtonRounded"><strong><i class="fa fa-plus-square"></i>Agregar</strong></button>



            </fieldset>


        </form>
    </div>




</template>