<template name="DestrezasCatalog">

    <div class="col-md-12 login-modal {{$.Session.get 'nav-destrezas'}}">
        <i class="fa fa-close close-destrezas login-toggle"></i>
        <form id="IngresarDestrezasFrm">

            <fieldset>
                <legend>Destrezas</legend>


                <div class="col-md-12">

                     <select class="col-md-12 slcDestrezas select2" style="max-width: 100%" id="slcDestrezas">
                         <option value="" class="text-center">Seleccione...</option>

                         {{#each destrezas}}

                            <option id="{{_id}}" value="{{destreza}}" class="text-center">{{destreza}}</option>
                        {{/each}}

                    </select>
                    <textarea disabled rows="5" class="col-md-12" id="txtAreaDestreza"></textarea>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <button class=" btn-default btn-verDestreza addButtonRounded"><strong><i class="fa fa-search-plus"></i>Detalle</strong></button>
                    <button class=" btn-default btn-AgregarDestreza addButtonRounded"><strong><i class="fa fa-plus-square"></i>Agregar</strong></button>
                </div>

            </fieldset>


        </form>
    </div>




</template>