<template name="EditarUnidadCabecera">


    <div class="col-md-12 ">

        <form id="EditarUnidadCabeceraFrm">

            <fieldset>

                <legend class="text-center"> Editar Unidad: {{numeorUnidadActual}}   <i title="cerrar edicion" class="fa fa-close col-md-1 close-EditarUnidad login-toggle"></i></legend>

                <div class="col-md-12">

                    <div class="col-md-12">
                        <div class="col-md-4"></div>
                        <label for="unidadSelect">Número Unidad:</label>
                        <select name="unidadSelectEdt" class="slctUnidadEdt" id="unidadSelectEdt">
                            <option value="">Seleccionar...</option>
                            {{#each numeroUnidad}}
                                <option value="{{numero}}">{{numero}}</option>
                            {{/each}}
                        </select>

                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4"></div>
                        <label for="duracionUnidad">Duración:</label>
                        <input type="number" class="text-center" name="duracionUnidad" id="duracionUnidad" value="{{semanas}}" placeholder="semanas para unidad">

                    </div>
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-12">
                        <input type="text" id="inputNombreUnidad" class="col-md-12 text-center"  value="{{titulo}}" placeholder="ingrese el nombre de la nueva unidad">
                    </div>

                </div>

                <div class="col-md-5"></div>
                {{> Unidad}}
            </fieldset>


        </form>
    </div>




</template>