<template name="EditarPlanAnual">

<div class="col-md-12">
        <form id="EditarPlanAnualFrm">

            <fieldset>
                <legend>Editar</legend>

                <table class="blueTable">
                    <tr>
                        <th class="text-center">Editar</th>

                        <th class="text-center">Eliminar</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Fecha de Creación</th>
                        {{#if compartirActivado}}
                            <th class="text-center">Autor</th>
                        {{/if}}
                    </tr>
                    {{#each userPlans}}
                        <tr>
                            <td class="editarPlan text-center pointerCursor"><i class="fa fa-pencil"></i></td>
                            <td class="eliminarPlan text-center pointerCursor"><i class="fa fa-close"></i></td>
                            <td class="text-center">{{nombre}}</td>
                            <td class="text-center">{{dateFormat}}</td>
                             {{#if compartirActivado}}
                                {{#each autor}}
                                    <td class="text-center">{{firstName}} {{lastName}}</td>
                                {{/each}}
                             {{/if}}
                        </tr>
                    {{/each}}
                </table>
            </fieldset>


        </form>


</div>

</template>