<template name="GradoCursoCatalog">
    <div class="nuevo-gradoCurso">
        <i class="fa fa-close"></i>
        {{> quickForm collection="GradoCurso" id="insertGradoCursoForm" type="insert" class="new-gradoCurso-form"}}
    </div>
</template>