<template name="IngresarDocente">

    <div class="col-md-12 login-modal {{$.Session.get 'nav-docente'}}">
        <i class="fa fa-close close-ingresarDocente login-toggle"></i>
        <form id="IngresarDocenteFrm">

            <fieldset>
                <legend>Docente</legend>

                <div class="col-md-12 text-left"  id="docente">AÑADIR DOCENTES</div>
                <div class="container col-md-12">
                    <select  class="col-md-12 select2 slcDocente" id="slcDocente">
                        <option   value="" class="text-center col-md-12">Seleccionar ...</option>

                        {{#each docentes}}

                            <option id="{{_id}}"  value="{{profile.lastName}} {{profile.lastName2}} {{profile.firstName}} {{profile.midleName}}" class="text-center col-md-12">{{profile.lastName}} {{profile.lastName2}} {{profile.firstName}} {{profile.midleName}}</option>
                        {{/each}}
                    </select>

                    <button class=" btn-default btn-Agregar addButtonRounded"><strong><i class="fa fa-plus-square"></i>Agregar</strong></button>
                </div>

            </fieldset>


        </form>
    </div>
    <script type="text/javascript">
        $(".select2").select2({
            placeholder: "Selecciona/busca un docente",
            language: "es"
        });
    </script>

</template>