<template name="NuevoPlan">


        <div class="col-md-12 {{$.Session.get 'nav-nuevoPlanAnual'}}">

            <form id="IngresarPlanFrm">

                <fieldset>
                    <legend>Nuevo</legend>


                    <div class="col-md-12">

                        <input type="text" id="inputNumbrePlan" class="col-md-7" placeholder="ingrese un nombre para continuar">
                        <div class="col-md-1"></div>
                        <button class="btn-NuevoPlan addButtonRounded col-md-2"><i class="fa fa-plus"></i>Agregar</button>

                    </div>
                </fieldset>


            </form>
        </div>




</template>