<template name="NuevaUnidad">


        <div class="col-md-12 login-modal {{$.Session.get 'nav-nuevaUnidad'}}">
            <i class="fa fa-close close-nuevaUnidad login-toggle"></i>
            <form id="IngresarUnidadFrm">

                <fieldset>
                    <legend>Nueva Unidad</legend>

                    <div class="col-md-12">
                        <div class="col-md-4"></div>
                        <div class="col-md-6">
                        <label for="unidadSelect">Número Unidad</label>
                        <select name="unidadSelect" class="slctUnidad" id="unidadSelect">
                            <option value="">Seleccionar...</option>
                            {{#each numeroUnidad}}
                                <option value="{{numero}}">{{numero}}</option>
                            {{/each}}

                        </select>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-6">
                            <label for="duracionUnidad">Duración</label>
                            <input type="number" min="0" name="duracionUnidad" id="duracionUnidad" placeholder="semanas para unidad">

                        </div>
                        <div class="col-md-6">
                                 </div>
                        <div class="col-md-12">
                        <input type="text" id="inputNombreUnidad" class="col-md-12" placeholder="ingrese el nombre de la nueva unidad">
                        </div>
                        {{#if isElemental}}
                            <div class="col-md-12">
                                <h4 class=" text-center"><strong>Fecha</strong></h4>
                                <div class="col-md-3"></div>
                                <div class="col-md-4">
                                <h5 ><strong>Fecha Inicio</strong></h5>
                                <input type="text" class="form-control col-md-6" id="fechaInicio">
                                </div>
                                <div class="col-md-4">
                                    <h5 ><strong>Fecha Fin</strong></h5>
                                    <input type="text" class="form-control col-md-6" id="fechaFin">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h5 class=" text-center"><strong>Elemento Integrador</strong></h5>
                                <input type="text" class="col-md-12" id="elementoIntegrador">
                            </div>
                            <div class="col-md-12">
                                <h5 class=" text-center"><strong>Caracterización de la experiencia de aprendizaje</strong></h5>
                                <div class="col-md-3"></div>
                                <textarea cols="7" class="col-md-6" id="experienciaAprendizaje"></textarea>
                            </div>

                        {{/if}}

                    </div>
                    <div class="col-md-5"></div>
                    <button class="btn-NuevaUnidad addButtonRounded col-md-3"><i class="fa fa-plus"></i> Agregar</button>

                </fieldset>


            </form>
        </div>




</template>