<template name="ObjetivosAreaConocimientoCatalog">

        <div class="col-md-12 login-modal {{$.Session.get 'nav-objetivoGeneral'}}">
            <i class="fa fa-close close-ingresarObjetivoGeneral login-toggle"></i>
            <form id="IngresarObjetivoGeneralFrm">

                <fieldset>
                    <legend>Objetivo General</legend>


                    <div class="col-md-12">

                        <select class="col-md-12 form-control select2 slcObjetivoGeneral" style="max-width: 100%" id="slcObjetivoGeneral">
                            <option value="" class="text-center col-md-12">Seleccionar...</option>

                            {{#each objetivos}}

                                <option id="{{_id}}" value="{{objetivo}}" class="text-center col-md-12">{{objetivo}}</option>
                            {{/each}}

                        </select>
                    </div>
                    <div class="col-md-12">
                        <textarea disabled rows="5" class="col-md-12" id="txtAreaObjetivo"></textarea>

                        <div class="col-md-2"></div>
                        <button class=" btn-default btn-verObjetivo addButtonRounded"><strong><i class="fa fa-search-plus"></i>Detalle</strong></button>

                        <button class=" btn-default btn-AgregarObjetivo addButtonRounded"><strong><i class="fa fa-plus-square"></i>Agregar</strong></button>
                    </div>

                </fieldset>


            </form>
        </div>




</template>