<template name="ObjetivosEspecificosCatalog">

    <div class="col-md-12 login-modal {{$.Session.get 'nav-objetivoEspecificos'}}">
        <i class="fa fa-close close-ingresarObjetivoEspecifico login-toggle"></i>
        <form id="IngresarObjetivoEspecificoFrm">

            <fieldset>
                <legend>Objetivo Específico</legend>


                <div class="col-md-12">

                    <select class="col-md-12 slcObjetivoEspecifico select2" style="max-width: 100%" id="slcObjetivoEspecifico">
                        <option value="" class="text-center">Seleccionar...</option>

                        {{#each objetivos}}

                            <option id="{{_id}}" value="{{objetivo}}" class="text-center">{{objetivo}}</option>
                        {{/each}}

                    </select>
                    <textarea rows="5" disabled class="col-md-12" id="txtAreaObjetivoEspecifico"></textarea>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <button class=" btn-default btn-verObjetivoEspecifico addButtonRounded"><strong><i class="fa fa-search-plus"></i>Detalle</strong></button>
                    <button class=" btn-default btn-AgregarObjetivoEspecifico addButtonRounded"><strong><i class="fa fa-plus-square"></i>Agregar</strong></button>
                </div>

            </fieldset>


        </form>
    </div>




</template>