<template name="ObjetivosIntegradoresCatalog">

    <div class="col-md-12 login-modal {{$.Session.get 'nav-objetivoIntegrador'}}">
        <i class="fa fa-close close-ingresarObjetivoIntegrador login-toggle"></i>
        <form id="IngresarObjetivoIntegradorFrm">

            <fieldset>
                <legend>Objetivos Integradores</legend>


                <div class="col-md-12">

                    <select class="col-md-12 select2 slcObjetivoIntegrador" style=" max-width: 200%" id="slcObjetivoIntegrador">
                        <option  value="" class="text-center">Seleccionar..</option>

                        {{#each objetivos}}

                            <option id="{{_id}}" value="{{objetivoIntegrador}}" class="text-center">{{objetivoIntegrador}}</option>
                        {{/each}}

                    </select>
                    <textarea disabled rows="5" class="col-md-12" id="txtAreaObjetivoIntegrador"></textarea>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <button class=" btn-default btn-verObjetivoIntegrador addButtonRounded"><strong><i class="fa fa-search-plus"></i>Detalle</strong></button>
                    <button class=" btn-default btn-AgregarObjetivointegrador addButtonRounded"><strong><i class="fa fa-plus-square"></i>Agregar</strong></button>
                </div>

            </fieldset>


        </form>
    </div>




</template>