<template name="InserObjetivoCatalog">
    <div class="obj">
        <i class="fa fa-close"></i>
        {{> quickForm collection="ObjetivosGenerales" id="insertObjetForm" type="insert" class="new-object-form"}}
    </div>
</template>