<template name="ParaleloCatalog">
    <div class="nuevo-objetivo">
        <i class="fa fa-close"></i>
        {{> quickForm collection="Paralelo" id="insertParaleloForm" type="insert" class="new-paralelo-form"}}
    </div>
</template>