<template name="RTICatalog">

    <div class="col-md-12 login-modal {{$.Session.get 'nav-rti'}}">
        <i class="fa fa-close close-ingresarRTi login-toggle"></i>
        <form id="RTICatalogFrm">

            <fieldset>
                <legend>Tecnicas e Instrumentos</legend>


                <div class="col-md-12">
                    <span class="col-md-12 rojoResaltar">*Recuerde que para ingresar una técnica/instrumento diferente al de la lista, debe escribirlo y presionar <strong>ENTER</strong> para de ingresarlo</span>

                    <div><h5>Técnicas:</h5></div>

                    <select class="col-md-12 slcTecnicas select2" id="slcTecnicas">
                        <option  value="" class="text-center">Seleccionar</option>
                        {{#each tecnicas}}

                            <option id="{{_id}}" value="{{tecnica}}" class="text-center">{{tecnica}}</option>
                        {{/each}}

                    </select>
                </div>
                <div class="col-md-12">
                    <div><h5>Instrumentos:</h5></div>
                    <select class="col-md-12 select2 slcInstrumentos" id="slcInstrumentos">
                        <option  value="" class="text-center">Seleccionar</option>
                        {{#each instrumentos}}

                            <option id="{{_id}}" value="{{instrumento}}" class="text-center">{{instrumento}}</option>
                        {{/each}}

                    </select>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <button class=" btn-default btn-AgregarRti addButtonRounded"><strong><i class="fa fa-plus-square"></i>Agregar</strong></button>
                </div>

            </fieldset>


        </form>
    </div>




</template>