<template name="SubnivelCatalog">
    <div class="nuevo-subnivel">
        <i class="fa fa-close"></i>
        {{> quickForm collection="Subnivel" id="insertSubnivelForm" type="insert" class="new-subnivel-form"}}
    </div>
</template>