<template name="AppNavElemental">
    <div class="app-nav">
        {{#if isInRole 'educadorEL'}}
            <ul>
                <li><a href="/educador/planElemental"><i class="fa fa-calendar"></i> <span>Planificación</span></a></li>
            </ul>
            <ul>
                <li><a href="/educador/planElementalUnidad"><i class="fa fa-calendar-o planUnidad"></i> <span>Unidades</span></a></li>
            </ul>

            <ul>
                <li><a href="/dashboard"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
            </ul>        {{/if}}
    </div>
</template>