<template name="AppNavAnual">
    <div class="app-nav">
    {{#if isInRole 'educador'}}
        <ul>
            <li><a href="/educador/planAnual"><i class="fa fa-calendar planAnual"></i> <span>Plan Anual</span></a></li>
        </ul>

        <ul>
              <li><a href="/educador/planAnualUnidad"><i class="fa fa-calendar-o planUnidad"></i> <span>Plan de Unidad</span></a></li>
          </ul>
        <ul>
            <li><a href="/dashboard"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
        </ul>
    {{/if}}
    </div>
</template>