<template name="ControlNavElemental">
    <nav class=" col-md-8 main-nav">
        <ul>

            <button class="col-md-3 fa fa-file-o btn-default navYearPlanner-leftCorner op-AgregarPlanE" > Nuevo Plan</button>

            <button class=" col-md-4 fa fa-edit btn-default  op-EditarPlanE"  >Editar Planes Anteriores</button>

            <button class=" col-md-3 fa fa-paperclip btn-default navYearPlanner-rightCorner op-CompartidoPlanE"  >Planes Compartidos</button>

        </ul>
    </nav>

</template>