<template name="ControlNav">
    <nav class=" col-md-8 main-nav">
        <ul>
            {{#if unidad}}
                <button class="col-md-3 fa fa-file-o btn-default navYearPlanner-leftCorner op-AgregarPlan" > Nuevo</button>
            {{/if}}
            <button class=" col-md-4 fa fa-edit btn-default  op-EditarPlan"  >Editar Anteriores</button>

                <button class=" col-md-3 fa fa-paperclip btn-default navYearPlanner-rightCorner op-CompartidoPlan">Compartidos</button>

        </ul>
    </nav>

</template>