<template name="PrintReportNav">
    <div class="col-md-9"></div>
    <nav class=" col-md-3 main-nav">
        <ul>
            <button class="col-md-12 fa fa-arrow-left btn-default navYearPlanner-leftCorner regresar" > Regresar</button>

            <button class=" col-md-12 fa fa-file-pdf-o btn-default navYearPlanner-rightCorner generarPDF"> Descargar PDF</button>

        </ul>
    </nav>

</template>