<template name="ReportNav">
    <div class="col-md-9"></div>
    <nav class=" col-md-3 main-nav">
        <ul>
            <button class="col-md-12 fa fa-battery-half btn-default navYearPlanner-leftCorner continuarDespues" > Continuar Después</button>

            <button class=" col-md-12 fa fa-battery-full btn-default navYearPlanner-rightCorner terminarPlanificacion"> Terminar Planinificación</button>

        </ul>
    </nav>

</template>