<template name="UserNav">

    <nav class=" col-md-8 main-nav">
        <ul>

                <button class="col-md-3 fa fa-check-circle btn-default navYearPlanner-leftCorner op-usuariosHabilitados" > Usuarios Habilitados</button>
            <button class="col-md-3 fa fa-file-o btn-default  op-nuevo" > Nuevo Usuarios</button>


            <button class=" col-md-3 fa fa-close btn-default navYearPlanner-rightCorner op-usuariosDeshabilitados"  >Usuarios Deshabilitados</button>

        </ul>
    </nav>

</template>