<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" media="all" href="/main.principal.css">
    <link rel="stylesheet" media="all" href="/adminLTE/css/AdminLTE.min.css">
    <link rel="stylesheet" media="all" href="/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" media="all" href="/plugins/select2/select2.min.css">
    <link rel="stylesheet" media="all" href="/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" media="all" href="/adminLTE/css/AdminLTE.min.css">
    <link rel="stylesheet" media="all" href="/adminLTE/css/main.AdminLTE.css">

</head>
<template name="ReportLayout">
    {{> HeaderReport}}

    <main class="report-layout">
        {{> Template.dynamic template=main}}
    </main>
</template>