<template name="PlanificacionElemental">
    {{> sAlert}}
    {{> ConfiguracionCatalog}}
    <div class="col-md-12">
        {{> ControlNavElemental}}
    </div>
    <fieldset>
        <legend class="text-center">PLAN MICROCURRICULAR - SECCIÓN ELEMENTAL  <i title="Configuración" id="configuracion"  class="pointerCursor-red botones-control btn-default fa fa-slideshare configuracionPlan"></i></legend>
        <div class="col-md-4"></div>
        {{#if $not agregarPlan}}
            {{> NuevoPlan}}
        {{/if}}
        {{#if $not editarPlan}}
            {{> EditarPlanAnual}}
        {{/if}}

        {{#if ocultarNuevoPlanFrm}}
            <span class="text-right col-md-12 color-azul">El plan "{{getCurrentPlan}}" esta siendo desarollado</span>
            {{> CurriculoIntegrador}}
            {{> DatosInformativos}}
            {{> Unidades}}

        {{/if}}

        {{>AppNavElemental}}
    </fieldset>


</template>