<template name="PlanificacionUnidadAnual">
    {{> sAlert}}
    {{> ConfiguracionCatalog}}
    <div class="col-md-12">
        {{> ControlNav}}
    </div>

    <legend class="text-center">PLANIFICACIÓN MICROCURRICULAR <br>(DESTREZAS CON CRITERIOS DE DESEMPEÑO)</legend>

    <div class="col-md-4"></div>
    {{#if $not agregarPlan}}
        {{> NuevoPlan}}
    {{/if}}
    {{#if $not editarPlan}}
        {{> EditarPlanAnual}}
    {{/if}}

    {{#if ocultarNuevoPlanFrm}}
        <span class="text-right col-md-12 color-azul">El plan "{{getCurrentPlan}}" esta siendo desarollado</span>
        {{#if datosMicroPlan}}
            {{> DatosInformativos}}
        {{/if}}

        {{> UnidadesPlan}}


    {{/if}}
    {{#if tipoPlan}}
        {{>AppNavAnual}}
    {{else}}
        {{>AppNavElemental}}
    {{/if}}



</template>