<template name="PlanificacionAnual">
    {{> sAlert}}
    {{> ConfiguracionCatalog}}
    <div class="col-md-12">
        {{> ControlNav}}
    </div>

    <legend class="text-center">PLANIFICACIÓN CURRICULAR  <i title="Configuración" id="configuracion"  class="pointerCursor-red botones-control btn-default fa fa-slideshare configuracionPlan"></i></legend>

        <div class="col-md-4"></div>
            {{#if $not agregarPlan}}
                {{> NuevoPlan}}
            {{/if}}
            {{#if $not editarPlan}}
                {{> EditarPlanAnual}}
            {{/if}}

            {{#if ocultarNuevoPlanFrm}}
                <span class="text-right col-md-12 color-azul">El plan "{{getCurrentPlan}}" esta siendo desarollado</span>
                {{> DatosInformativos}}
                {{> TiempoSection}}
                {{> ObjetivosGenerales}}
                {{> Unidades}}
                {{> Bibliografia}}
                {{#if modoCompartido}}
                    {{>ReportNav}}
                {{/if}}
            {{/if}}
    {{>AppNavAnual}}



</template>