<template name="AnioLectivo">
    <div class="col-md-6">
        <form id="anio">

            <fieldset>
                <legend>Año Lectivo</legend>
                {{#if modoEdicionAL}}
                    <div class="col-md-12 text-center"  id="anioL">{{logedUserAnio}}</div>

                {{else}}
                    <div class="col-md-12 text-center"  id="anioL">{{anioPlan.anioLectivo}}</div>

                {{/if}}

                <select class="col-md-12 anioLectivo" id="anioLectivo">
                    <option value="null">Seleccionar...</option>
                    {{#each anio}}

                        <option id="{{_id}}" value="{{nombre}}" class="text-center">{{nombre}}</option>
                    {{/each}}
                </select>
            </fieldset>


        </form>
    </div>


</template>