<template name="DesempenoCatalog">

    <div class="col-md-12 login-modal {{$.Session.get 'nav-actividades'}}">
        <i class="fa fa-close close-actividad login-toggle"></i>
        <form id="IngresarDesempenoFrm">

            <fieldset>
                <legend>Desempeños de comprensión</legend>


                <div class="col-md-12">
                    <h5 class="text-left">Actividad</h5>
                    <select class="col-md-12 slcActividades select2" id="slcActividades">
                        <option value="" class="text-center">Seleccionar...</option>

                        {{#each actividades}}

                            <option id="{{_id}}" value="{{actividad}}" class="text-center">{{actividad}}</option>
                        {{/each}}

                    </select>
                </div>
                    <div class="col-md-12">
                        <h5 class="text-left">Meta de comprensión</h5>
                    <select class="select2 col-md-12 slcMeta" id="slcMeta">
                        <option   value="" class="text-center col-md-12">Seleccionar ...</option>

                        {{#each metas}}

                            <option id="{{_id}}"  value="{{texto}}" class="text-center col-md-12">{{texto}}</option>
                        {{/each}}
                    </select>
                    </div>
                        <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <button class=" btn-default btn-AgregarActividad addButtonRounded"><strong><i class="fa fa-plus-square"></i>Agregar</strong></button>
                </div>

            </fieldset>


        </form>
    </div>


    <script type="text/javascript">
        $(".select2").select2();
    </script>

</template>