<template name="Quimestre">
    <div class="col-md-6">
        <form id="quimestre">

            <fieldset>
                <legend>Quimestre</legend>
                {{#if modoEdicionQ}}
                    <div class="col-md-12 text-center"  id="quimestreL">{{logedUserQuimestre}}</div>

                {{else}}
                    <div class="col-md-12 text-center"  id="quimestreL">{{quimestreP.quimestre}}</div>

                {{/if}}

                <select class="col-md-12 quimestreSlc" id="quimestreSlc">
                    <option value="null">Seleccionar...</option>
                    {{#each quimestre}}

                        <option id="{{_id}}" value="{{nombre}}" class="text-center">{{nombre}}</option>
                    {{/each}}
                </select>
            </fieldset>


        </form>
    </div>


</template>