<template name="DashboardResume">
    {{> sAlert}}

    {{>AppNav}}

    <legend class="text-center">CUADRO DE CONTROL DIRECTIVOS</legend>
    <div class="col-md-12 ">
        <div class="col-md-4 text-center todolistCuadrosDerecha ">
            <h5><i class="fa fa-calendar redCoana" ></i> Número de Planes Anuales</h5>
            <div class="text-center"><h3 class="text-bold">1234</h3></div>
        </div>
        <div class="col-md-4 text-center todolistCuadrosIzquierda ">
            <h5><i class="fa fa-user-circle blackCoana "></i> Total de Profesores</h5>
            <div class="text-center"><h3 class="text-bold">1234</h3></div>
        </div>

        <div class="col-md-4 text-center todolistCuadrosIzquierda  ">
            <h5><i class="fa fa-calendar-o redCoana"> </i> Número de Planes de Unidad</h5>
            <div class="text-center"><h3 class="text-bold">1234</h3></div>
        </div>

    </div>
    <div class="col-md-6 todolistCuadrosDerecha">
        {{> highchartsHelper chartId="test" chartWidth="100%" charHeight="100%" chartObject=topGenresChartSubnivel}}
    </div>
    <div class="col-md-6 todolistCuadrosDerecha">
        {{> highchartsHelper chartId="test1" chartWidth="100%" charHeight="100%" chartObject=topGenresChartAreaConocimiento}}

    </div>



        <legend class="text-center"> Control de Actividades</legend>
        <div class="col-md-12">


        </div>




</template>