<template name="InfoReportes">

    <div class="col-md-12 modal-popUp  {{$.Session.get 'nav-infoReportes'}}">
        <i title="cerrar" class="pointerCursor fa fa-close rojoICO close-infoReportes  login-toggle"></i>
        <form id="IngresarActividadFrm">

            <fieldset>
                <legend class="blue"><i class="celesteICO fa fa-info-circle"></i> Información</legend>


                <div class="col-md-12">

                    <h3 class=" text-center blueICO">¿Necesitas ayuda?</h3>
                    <h5 class="text-center">Recuerda la estructura de la tabla de reportes:</h5>
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <img src="/tablaArchivos.png" class="img-responsive col-md-12" >
                        </div>
                        <div class="col-md-4">
                            <h4 class="text-center rojoICO">Nombre:</h4>
                            <h5 class="text-center">Pulsa con tu ratón sobre la "x" para eliminar el reporte</h5>
                            <h4 class="text-center rojoICO">Abrir el archivo PDF:</h4>
                            <h5 class="text-center">Pulsa con tu ratón sobre el nombre para abrir el archivo en una nueva pestaña y descargarlo.</h5>
                            <h4 class="text-center rojoICO">Nombre del Plan:</h4>
                            <h5 class="text-center">Aquí te indicamos el nombre del plan que se utilizó para generar el reporte.</h5>
                            <h4 class="text-center rojoICO">Fecha de creación:</h4>
                            <h5 class="text-center">Aquí podrás conocer la fecha en la que creaste el reporte desde nuestra aplicación</h5>
                        </div>
                    </div>

                </div>

            </fieldset>


        </form>
    </div>
</template>