<template name="DecisionesPreinstruccionales">

    <div class="col-md-12">
        <fieldset>
            <legend>Decisiones Preinstruccionales</legend>


            <div class="col-md-6">
                <h5 class="col-md-9 text-center">Tamaño del grupo:</h5>

                <input type="number" id="inputTamanioGrupo" class="col-md-2" name="inputTamanioGrupo" value="{{tamanioGrupo}}" >

            </div>
            <div class="col-md-6">

                <h5 class="col-md-11 text-center">Método de asignar a los alumnos:  {{metodo}}</h5>
                <input type="text" id="inputMetodo" class="col-md-11" name="inputMetodo" placeholder="escriba el método de asignar alumnos..." >

            </div>
            {{> Roles}}
            <br>
            <div class="col-md-12">

                <h5 class="col-md-11 text-center">Distribución de aula:  {{distribucion}}</h5>
                <input type="text" id="inputDistribucionAula" class="col-md-11" name="inputDistribucionAula" placeholder="escriba la distribución de aula..." >

            </div>
            {{> Materiales}}
        </fieldset>
    </div>
</template>