<template name="Explicartarea">

    <div class="col-md-12">
        <fieldset>
            <legend>Explicar tarea y la estructura del objetivo cooperativo</legend>


            <div class="col-md-12">

                <h5 class="col-md-11 text-center">Tarea:  {{tarea}}</h5>
                <input type="text" id="inputTarea" class="col-md-11" name="inputTarea" placeholder="escriba el la tarea..." >

            </div>

            <div class="col-md-12">

                <h5 class="col-md-11 text-center">Criterios para el éxito:  {{criterioExito}}</h5>
                <input type="text" id="inputCriterioExito" class="col-md-11" name="inputCriterioExito" placeholder="escriba el criterio de exito..." >

            </div>
            <div class="col-md-12">

                <h5 class="col-md-11 text-center">Interdependecia Positiva:  {{interdependeciaPositiva}}</h5>
                <input type="text" id="inputInterdependeciaPositiva" class="col-md-11" name="inputInterdependeciaPositiva" placeholder="escriba la interdependecia positiva..." >

            </div>
            <div class="col-md-12">

                <h5 class="col-md-11 text-center">Responsabilidad Individual:  {{responsabilidadIndividual}}</h5>
                <input type="text" id="inputResponsabilidadIndividual" class="col-md-11" name="inputresponsabilidadIndividual" placeholder="escriba la responsabilidadIndividual..." >

            </div>
            <div class="col-md-12">

                <h5 class="col-md-11 text-center">Cooperación Intergrupos:  {{cooperacionIntergrupos}}</h5>
                <input type="text" id="inputCooperacionIntergrupos" class="col-md-11" name="inputCooperacionIntergrupos" placeholder="escriba la cooperación intergrupos..." >

            </div>
            <div class="col-md-12">

                <h5 class="col-md-11 text-center">Comportamiento Esperado:  {{comportamientoEsperado}}</h5>
                <input type="text" id="inputComportamientoEsperado" class="col-md-11" name="inputComportamientoEsperado" placeholder="escriba el comportamiento esperado..." >

            </div>
        </fieldset>
    </div>
</template>