<template name="Materiales">
    <div class="col-md-3"> </div>
    <div class="col-md-6">
        <form id="materiales">

            <fieldset>
                <legend>Materiales</legend>
                <span class="col-md-12 rojoResaltar">*Recuerde que para ingresar una material diferente al de la lista, debe escribirlo y presionar <strong>ENTER</strong> para de ingresarlo</span>

                <div class="col-md-4"></div>
                <select class="col-md-12 select2" id="slcMateriales">
                    <option value="null">Selecciona un material agregar...</option>

                    <option  value="Una copia por grupo" class="text-center">Una copia por grupo</option>
                    <option  value="Una copia por persona" class="text-center">Una copia por persona</option>
                    <option  value="Rompecabezas" class="text-center">Rompecabezas</option>
                    <option  value="Torneo" class="text-center">Torneo</option>
                </select>
                <table class="blueTable">
                    <tr>
                        <th class="text-center">Quitar</th>
                        <th class="text-center">Material</th>
                    </tr>
                    {{#each  plan.material}}
                        <tr>
                            <td class="eliminarMaterial pointerCursor text-center" title="Eliminar  material"><i class="fa fa-close"></i></td>
                            <td class="text-center">{{texto}}</td>

                        </tr>
                    {{/each}}
                </table>
            </fieldset>


        </form>
    </div>


</template>