<template name="ObjetivosLeccionCopperativa">

    <div class="col-md-12">
        <fieldset>
            <legend>Objetivos</legend>


            <div class="col-md-12">

                <h5 class="col-md-11 text-center">ACADÉMICO: {{academico}}</h5>
                <input type="text" id="inputObjetivoAcademico" class="col-md-11" name="inputObjetivoAcademico" placeholder="escriba el objetivo académico..." >

            </div>
            <div class="col-md-12">

                <h5 class="col-md-11 text-center">HABILIDAD SOCIAL: {{habilidad}}</h5>
                <input type="text" id="inputHabilidadSocial" class="col-md-11" name="inputHabilidadSocial" placeholder="escriba el objetivo de habilidad social..." >

            </div>
        </fieldset>
    </div>
</template>