<template name="ObservadorPor">
    <div class="col-md-12">
        <form id="observadoPor">

            <fieldset>
                <legend>ObservadoPor</legend>
                <span class="col-md-12 rojoResaltar">*Recuerde que para ingresar un registro diferente al de la lista, debe escribirlo y presionar <strong>ENTER</strong> para de ingresarlo</span>

                <div class="col-md-4"></div>
                <select class="col-md-12 select2" id="slcObservadoPor">
                    <option value="null">Seleccionar...</option>

                    <option  value="Profesor" class="text-center">Profesor</option>
                    <option  value="Alumnos" class="text-center">Alumnos</option>
                    <option  value="Visitantes" class="text-center">Visitantes</option>
                </select>
                <table class="blueTable">
                    <tr>
                        <th class="text-center">Quitar</th>
                        <th class="text-center">Material</th>
                    </tr>
                    {{#each  plan.observadorPor}}
                        <tr>
                            <td class="eliminarObservadoPor pointerCursor text-center" title="Eliminar  material"><i class="fa fa-close"></i></td>
                            <td class="text-center">{{texto}}</td>

                        </tr>
                    {{/each}}
                </table>
            </fieldset>


        </form>
    </div>


</template>