<template name="Otros">

    <div class="col-md-12">
        <fieldset>
            <legend>Otros</legend>


            <div class="col-md-12">
                <input type="text" id="inputOtros" class="col-md-11" name="inputOtros" placeholder="escriba aquí" >
                <div class="col-md-12">
                    <div class="col-md-9"></div>
                    <button class="btnAgregarOtros addButtonRounded col-md-3"> <i class="fa fa-plus-circle"> Agregar</i></button>
                </div>

            </div>
            <div class="container col-md-12">
                <table class="blueTable">
                    <tr>
                        <th class="text-center">Eliminar</th>
                        <th class="text-center">Otros</th>
                    </tr>
                    {{#each  otros}}
                        <tr>
                            <td class="eliminarOtros text-center pointerCursor"><i class="fa fa-close"></i></td>
                            <td class="text-center">{{texto}}</td>

                        </tr>
                    {{/each}}

                </table>
            </div>
            <div class="col-md-3"></div>
        </fieldset>
    </div>
</template>