<template name="Roles">

    <div class="col-md-12">
        <fieldset>
            <legend>Roles</legend>


            <div class="col-md-12">
                <input type="text" id="inputRol" class="col-md-11" name="inputRol" placeholder="escriba el rol" >
                <div class="col-md-12">
                    <div class="col-md-9"></div>
                    <button class="btnAgregarRol addButtonRounded col-md-3"> <i class="fa fa-plus-circle"> Agregar</i></button>
                </div>

            </div>
            <div class="container col-md-12">
                <table class="blueTable">
                    <tr>
                        <th class="text-center">Eliminar</th>
                        <th class="text-center">Rol</th>
                    </tr>
                    {{#each  roles}}
                        <tr>
                            <td class="eliminarRoles text-center pointerCursor"><i class="fa fa-close"></i></td>
                            <td class="text-center">{{texto}}</td>

                        </tr>
                    {{/each}}

                </table>
            </div>
            <div class="col-md-3"></div>
        </fieldset>
    </div>
</template>