<template name="SeguimientoIntervencion">

    <div class="col-md-6">
        <fieldset>
            <legend>Seguimiento e Intervención</legend>


            <div class="col-md-12">
                <form id="frmProcedimiento">
                    <h5 class="col-md-12 text-center">Procedimiento de observación:  {{observacion}}</h5>
                    <select name="slcProcedimiento" class="col-md-12" id="slcProcedimiento">
                        <option value="">Seleccionar</option>
                        <option value="Formal">Formal</option>
                        <option value="Informal">Informal</option>
                    </select>
                </form>

            </div>
            <div class="col-md-12">

             {{> ObservadorPor}}

            </div>
            <div class="col-md-12">

                <h5 class="col-md-11 text-center">Intervención para ayudar sobre la tarea:  {{intervencion}}</h5>
                <input type="text" id="inputIntervencion" class="col-md-11" name="inputIntervencion" placeholder="escriba la intervención..." >

            </div>
            <div class="col-md-12">

                <h5 class="col-md-11 text-center">Intervención para el trabajo en equipo:  {{intervencionTrabajoEquipo}}</h5>
                <input type="text" id="inputIntervencionTrabajoEquipo" class="col-md-11" name="inputIntervencionTrabajoEquipo" placeholder="escriba la intervención..." >

            </div>
            <div class="col-md-12">

                {{>Otros}}
            </div>
        </fieldset>
    </div>
</template>