  @media all {
      * {
          box-sizing: border-box;
      }
      @media print {
          body {
              background: steelblue;
              font-family: "Open Sans", arial;
              font-size: 12px !important;
              /*zoom: 0.7;*/
          }
      }
      @media screen {
          body {
              /*background: steelblue;*/
              font-family: "Open Sans", arial;
              font-size: 12px;
          }
      }
      table {
          /*width: 87% !important*/;
          width: 100%;
          /*max-width: 600px;*/
          /*height: 320px;*/
          border-collapse: collapse;
          border: #0f74a8 0.3mm solid !important;
        /*margin: 50px auto !important;*/
          background: white !important;
      }

     
      .heavyTable {
      /*    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2) !important;*/
          animation: float 5s infinite !important;
      }
      .heavyTable th {
          background: steelblue !important;
          /*height: 54px;
          width: 25%;*/
          /*font-weight: lighter !important;
          text-shadow: 0 1px 0 #38678f !important;*/
          color: white !important;
          text-align: center !important;
         /* vertical-align: middle !important;*/
          border: 0.3mm solid #38678f !important;
          box-shadow: inset 0px 1px 2px #568ebd !important;
          transition: all 0.2s !important;
      }
      .heavyTable tr {
          border-bottom: 0.3mm solid #38678f;
      }
      .heavyTable tr:last-child {
          border-bottom: 0px;
      }
      .heavyTable td {
          border-right: 0.3mm solid #38678f !important;
          padding-left: 5px;
          padding-top: 0px;
      }
      .heavyTable td:last-child {
          border-right: 0px;
      }
      .heavyTable td.selected {
          background: #38678f;

      }
      .heavyTable td input {
          font-size: 14px;
          background: none;
          outline: none;
          border: 0;
          display: table-cell;
          height: 100%;
          width: 100%;
      }
      .heavyTable td input:focus {
          box-shadow: 0 0.3mm 0 steelblue;
          color: steelblue;
      }


      .orangeTable {
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2) !important;
          animation: float 5s infinite !important;

          border: 1px solid darkorange !important;
      }
      .orangeTable th {
          background: orange !important;
          /*height: 54px;
          width: 25%;*/
          /*font-weight: lighter !important;*/
          color: white !important;
          text-align: center !important;
          vertical-align: middle !important;
          border: 1px solid darkorange !important;
          /*box-shadow: inset 0px 1px 2px #568ebd !important;*/
          transition: all 0.2s !important;
      }
      .orangeTable tr {
          border-bottom: 1px solid #cccccc;
      }
      .orangeTable tr:last-child {
          border-bottom: 0px;
      }
      .orangeTable td {
          border-right: 1px solid #cccccc !important;
          padding: 10px;
          transition: all 0.2s;
      }
      .orangeTable td:last-child {
          border-right: 0px;
      }
      .orangeTable td.selected {
          background: #d7e4ef;
          z-index: ;
      }
      .orangeTable td input {
          font-size: 14px;
          background: none;
          outline: none;
          border: 0;
          display: table-cell;
          height: 100%;
          width: 100%;
      }
      .orangeTable td input:focus {
          box-shadow: 0 1px 0 steelblue;
          color: steelblue;
      }
      
      .main {
          max-width: 600px;
          padding: 10px;
          margin: auto;
      }
      /*.content {
          color: white;
          text-align: center;
      }*/
      .content p,
      .content pre,
      .content h2 {
          text-align: left;
      }
      .content pre {
          padding: 1.2em 0 0.5em;
          background: white;
          background: rgba(255, 255, 255, 0.7);
          border: 1px solid rgba(255, 255, 255, 0.9);
          color: #38678f;
      }
      .content .download {
          margin: auto;
          background: rgba(255, 255, 255, 0.1);
          display: inline-block;
          padding: 1em 1em;
          border-radius: 12em;
          margin-bottom: 2em;
      }
      .content .button {
          display: inline-block;
          text-decoration: none;
          color: white;
          height: 48px;
          line-height: 48px;
          padding: 0 20px;
          border-radius: 24px;
          border: 1px solid #38678f;
          background: steelblue;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 3px rgba(255, 255, 255, 0.2);
          transition: all 0.1s;
      }
      .content .button:hover {
          background: #4f8aba;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 10px rgba(255, 255, 255, 0.1);
      }
      .content .button:active {
          color: #294d6b;
          background: #427aa9;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 5px rgba(0, 0, 0, 0.2);
      }
      .content .button:focus {
          outline: none;
      }
      h1 {
          text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1) !important;
          text-align: center !important;
      }
      .titulo-subnivelUno{
          text-align: left;
          padding-left: 40px;
          font-weight: bold;
          font-size: x-small;
      }
      .titulo-datosInformativos{
          color: #0f74a8 !important;
          font-size: xx-small;
      }
      .titulo-Plan{
          color: #38678f !important

      }
      .content-datosInformativos{
          font-size: xx-small;
      }
      .espacio-Objetivos{
          padding: 2px;
      }
      .format-numeroUnidad{
          font-size: xx-small;
          max-width: 120px;
      }
      .formato-tituloNumeroUnidad{
          text-align: center;
          font-weight: bold;
          color: #0f74a8 !important;
          font-size: xx-small;
      }
      .formato-tituloDuracion{
          text-align: center;
          font-weight: bold;
          color: #0f74a8 !important;
          font-size: xx-small;
          padding:3px;
      }
      /*tabla*/
      .heavyTableView {
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2) !important;
          animation: float 5s infinite !important;
      }
      .heavyTableView th {
          background: steelblue !important;
          /*height: 54px;
          width: 25%;*/
          /*font-weight: lighter !important;
          text-shadow: 0 1px 0 #38678f !important;*/
          color: white !important;
          text-align: center !important;
          vertical-align: middle !important;
          border: 1px solid #38678f !important;
          box-shadow: inset 0px 1px 2px #568ebd !important;
          transition: all 0.2s !important;
      }
      .heavyTableView tr {
          border-bottom: 1px solid #cccccc;
      }
      .heavyTableView tr:last-child {
          border-bottom: 0px;
      }
      .heavyTableView td {
          border-right: 1px solid #cccccc !important;
          padding: 4px;
          transition: all 0.2s;
      }
      .heavyTableView td:last-child {
          border-right: 0px;
      }
      .heavyTableView td.selected {
          background: #d7e4ef;
          z-index: ;
      }
      .heavyTableView td input {
          font-size: 14px;
          background: none;
          outline: none;
          border: 0;
          display: table-cell;
          height: 100%;
          width: 100%;
      }
      .heavyTableView td input:focus {
          box-shadow: 0 1px 0 steelblue;
          color: steelblue;
      }
/*tabla2*/
      .blueTable {
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2) !important;
          animation: float 5s infinite !important;

          border: 1px solid steelblue !important;
      }
      .blueTable th {
          background: #38678f !important;
          /*height: 54px;
          width: 25%;*/
          /*font-weight: lighter !important;*/
          color: white !important;
          text-align: center !important;
          vertical-align: middle !important;
          border: 1px solid steelblue !important;
          /*box-shadow: inset 0px 1px 2px #568ebd !important;*/
          transition: all 0.2s !important;
      }
      .blueTable tr {
          border-bottom: 1px solid #cccccc;
      }
      .blueTable tr:last-child {
          border-bottom: 0px;
      }
      .blueTable td {
          border-right: 1px solid #cccccc !important;
          padding: 10px;
          transition: all 0.2s;
      }
      .blueTable td:last-child {
          border-right: 0px;
      }
      .blueTable td.selected {
          background: #d7e4ef;
          z-index: ;
      }
      .blueTable td input {
          font-size: 14px;
          background: none;
          outline: none;
          border: 0;
          display: table-cell;
          height: 100%;
          width: 100%;
      }
      .blueTable td input:focus {
          box-shadow: 0 1px 0 steelblue;
          color: steelblue;
      }
      .botones-control{
          padding: 3px;
          border: solid transparent;
          border-radius: 6px;
          border-width: 2px;
          border-color: #d7e4ef;
      }
      .botones-control-leftCorner{
          padding: 4px;
          border: solid transparent;
          border-width: 2px;
          border-color: #d7e4ef;
          border-top-left-radius: 7px ;
          border-bottom-left-radius: 7px ;

      }
      .botones-control-rightCorner{
          padding: 4px;
          border: solid transparent;
          border-width: 2px;
          border-color: #d7e4ef;
          border-top-right-radius: 7px ;
          border-bottom-right-radius: 7px ;

      }
      /*Login Modal*/


      body {
          background: #e9e9e9;
          color: #666666;
          font-family: 'RobotoDraft', 'Roboto', sans-serif;
          font-size: 14px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
      }

      /* Pen Title */
      .pen-title {
          padding: 50px 0;
          text-align: center;
          letter-spacing: 2px;
      }
      .pen-title h1 {
          margin: 0 0 20px;
          font-size: 48px;
          font-weight: 300;
      }
      .pen-title span {
          font-size: 12px;
      }
      .pen-title span .fa {
          color: #33b5e5;
      }
      .pen-title span a {
          color: #33b5e5;
          font-weight: 600;
          text-decoration: none;
      }

      /* Form Module */
      .form-module {
          position: relative;
          background: #ffffff;
          max-width: 320px;
          width: 100%;
          border-top: 5px solid #ba0c2f;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
          margin: 0 auto;
      }
      .form-module .toggle {
          cursor: pointer;
          position: absolute;
          top: -0;
          right: -0;
          background: #ba0c2f;
          width: 30px;
          height: 30px;
          margin: -5px 0 0;
          color: #ffffff;
          font-size: 12px;
          line-height: 30px;
          text-align: center;
      }
      .form-module .toggle .tooltip {
          position: absolute;
          top: 5px;
          right: -65px;
          display: block;
          background: rgba(0, 0, 0, 0.6);
          width: auto;
          padding: 5px;
          font-size: 10px;
          line-height: 1;
          text-transform: uppercase;
      }
      .form-module .toggle .tooltip:before {
          content: '';
          position: absolute;
          top: 5px;
          left: -5px;
          display: block;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 5px solid rgba(0, 0, 0, 0.6);
      }
      .form-module .form {
          display: none;
          padding: 40px;
      }
      .form-module .form:nth-child(2) {
          display: block;
      }
      .form-module h2 {
          margin: 0 0 20px;
          color: #ba0c2f;
          font-size: 18px;
          font-weight: 400;
          line-height: 1;
      }
      .form-module input {
          outline: none;
          display: block;
          width: 100%;
          border: 1px solid #d9d9d9;
          margin: 0 0 20px;
          padding: 10px 15px;
          box-sizing: border-box;
          font-wieght: 400;
          -webkit-transition: 0.3s ease;
          transition: 0.3s ease;
      }
      .form-module input:focus {
          border: 1px solid #ba0c2f;
          color: #333333;
      }
      .form-module button {
          cursor: pointer;
          background: #ba0c2f;
          width: 100%;
          border: 0;
          padding: 10px 15px;
          color: #ffffff;
          -webkit-transition: 0.3s ease;
          transition: 0.3s ease;
      }
      .form-module button:hover {
          background: #ba0c2f;
      }
      .form-module .cta {
          background: #f2f2f2;
          width: 100%;
          padding: 15px 40px;
          box-sizing: border-box;
          color: #666666;
          font-size: 12px;
          text-align: center;
      }
      .form-module .cta a {
          color: #333333;
          text-decoration: none;
      }
      /*particles js*/

      .particle-wrap {
          position: absolute;
          pointer-events: none;
          width: 99%;
          height: 98%;
      }

      .content-wrap {
          text-align: center;
          background-color: rgba(228, 181, 34, 0.4);
          display:flex;
          justify-content: center;
          align-items: center;
      }
      /*usuarios*/
      .editarRoles{
          border-style: solid;
          padding-right: 10px;
          padding-left: 10px;
          max-width: 610px;
          padding-bottom: 10px;
      }
      .editarRoles>h5{
          border-bottom: solid;
          padding-bottom: 5px;
      }
      .editarRoles>a{
          border-style: solid;
          border-width: 1px;
          border-radius: 10px;
          padding: 2px;
          border-color: #1c2d3f;
      }
      .img{
          border-radius: 10px;

      }
      .disenioWeb{
          color:#178ab4;
          font-weight: bold;
      }
      .trabajoColaborativo{
          color:#902b2b;
          font-weight: bold;
      }
      .reportes{
          color:#db8b0b;
          font-weight: bold;
      }
      .alinear-vertical{
          vertical-align: middle;
      }
.espacio{
    padding-bottom: 30px;
}

  }
