<template name="override-atPwdForm">
    <div class="at-pwd-form">
        <form role="form" id="at-pwd-form" class="{{disabled}}" novalidate action="#" method="POST">
            {{#each fields}}
                {{> atInput}}
            {{/each}}
            {{#if showReCaptcha}}
                {{> atReCaptcha}}
            {{/if}}
            {{#if showForgotPasswordLink}}
                {{> atPwdLink}}
            {{/if}}
            {{> atPwdFormBtn}}
        </form>
    </div>
</template>