<template name="EjesTransversales">
    <div class="col-md-12">
        <fieldset>
            <legend>Ejes Transversales</legend>


            <div class="col-md-12">
                <label for="inputEjeTransversal">Eje Tranversal:</label>
                <input type="text" id="inputEjeTransversal" class="col-md-11" name="inputEjeTransversal" placeholder="escriba el eje transversal..." >
                <div class="col-md-12">
                    <div class="col-md-10"></div>
                    <button class="btnAgregarEje addButtonRounded col-md-2"><i class="fa fa-plus-circle"> Agregar</i></button>
                </div>

            </div>
            <div class="container col-md-12">
                <table >
                    <tr>
                        <th class="text-center">Eliminar</th>
                        <th class="text-center">Objetivo</th>
                    </tr>
                    {{#each  ejesTransversales}}
                        <tr>
                            <td class="eliminarEjeTransversal text-center pointerCursor"><i class="fa fa-close"></i></td>
                            <td class="text-center">{{texto}}</td>

                        </tr>
                    {{/each}}

                </table>
            </div>
            <div class="col-md-3"></div>
        </fieldset>
    </div>
</template>