<template name="ObjetivosGenerales">
    <fieldset class="col-md-12">
        <legend class="text-center">OBJETIVOS GENERALES </legend>
        <div class="col-md-10"></div>

        {{> ObjetivoAreaConocimiento}}
        {{> ObjetivoIntegradores}}

    </fieldset>
</template>