<template name="AdaptacionesCurriculares">
    {{> AdaptacionesCurricularesCatalog}}

    <div class="col-md-12">
        <fieldset>
            <legend>Adaptaciones Curriculares</legend>


            <div class="container col-md-12">
                <table class="blueTable">
                    <tr>
                        <th class="text-center">Eliminar</th>
                        <th class="text-center">Alumno</th>
                        <th class="text-center">Diagnostico</th>
                        <th class="text-center">Especificación NEE</th>
                        <th class="text-center">Adaptación a ser Aplicada</th>

                    </tr>

                    {{#each  adaptacionesCurricularestmp.adaptacionesCurriculares}}
                        <tr>
                            <td class="eliminarAdaptacionesCurriculares text-center pointerCursor"><i class="fa fa-close"></i></td>
                            <td class="text-center">{{alumno}}</td>
                            <td class="text-center">{{diagnostico}}</td>
                            <td class="text-center">{{nee}}</td>
                            <td class="text-center">{{diac}}</td>

                        </tr>
                    {{/each}}
                </table>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-12">
                <div class="col-md-10"></div>
                <button class="btnAgregarAdaptacionesCurriculares addButtonRounded col-md-2"><i class="fa fa-plus-circle"> Agregar</i></button>
            </div>
        </fieldset>
    </div>
</template>