<template name="ReportePlanAnual">
    <div class="hidden-print">
        {{> sAlert}}
    </div>
    <div class="visible-print-block" style="text-align:center; ">
        <h4  ><strong class="titulo-Plan">PLAN CURRICULAR ANUAL</strong></h4>
        <br>

        <h5 class="titulo-subnivelUno">1.DATOS INFORMATIVOS</h5>
    </div>
    <form id="competenciasForm">
        <table class="heavyTable" style="margin: 0 auto; border:1px solid;vertical-align:middle">
            <tr>
                <td>
                    <strong class="text-left titulo-datosInformativos">ÁREA CONOCIMIENTO</strong>
                    <br>
                    <div class="text-center content-datosInformativos">{{plan.areaConocimiento}}</div>
                </td>
                <td>
                    <strong class="text-left titulo-datosInformativos">ASIGNATURA</strong>
                    <br>
                    <div class="text-center content-datosInformativos">{{plan.asignatura }}</div>
                </td>
            </tr>


        </table>
        <table class="heavyTable" style="margin: 0 auto; border:1px solid;vertical-align:middle">
            <tr>
                <td>
                    <strong class="text-left titulo-datosInformativos">DOCENTES</strong>

                    {{#each plan.docentes}}

                        <div class="text-center content-datosInformativos">{{nombre}}</div>

                    {{/each}}
                </td>
            </tr>
        </table>

        <table class="heavyTable" style="margin: 0 auto; border:1px solid;vertical-align:middle">
            <tr>
                <td>
                    <strong class="text-left titulo-datosInformativos">SUBNIVEL EDUCATIVO</strong>
                    <br>
                    <div class="text-center content-datosInformativos">{{plan.subnivelEducativo}}</div>
                </td>
                <td>
                    <strong class="text-left titulo-datosInformativos">GRADO/CURSO</strong>
                    <br>
                    <div class="text-center content-datosInformativos">{{plan.gradoCurso }}</div>
                </td>
            </tr>


        </table>
        <br>
        <h5 class="titulo-subnivelUno">2.TIEMPO</h5>
        <table class="heavyTable" style="margin: 0 auto; border:1px solid;vertical-align:middle">
            <tr>
                <td>
                    <strong class="text-left titulo-datosInformativos">CARGA HORARIA SEMANAL</strong>
                    <br>
                    <div class="text-center content-datosInformativos">{{plan.cargaHorariaSemanal}}</div>
                </td>
                <td>
                    <strong class="text-left titulo-datosInformativos">EVALUACIÓN DE APRENDIZAJE E IMPREVISTOS</strong>
                    <br>
                    <div class="text-center content-datosInformativos">{{plan.evaluacionAprendizajeImprevistos }}</div>
                </td>
            </tr>
            <tr>
                <td>
                    <strong class="text-left titulo-datosInformativos">TOTAL DE SEMANAS DE CLASE</strong>
                    <br>
                    <div class="text-center content-datosInformativos">{{plan.totalSemanasClase}}</div>
                </td>
                <td>
                    <strong class="text-left titulo-datosInformativos">TOTAL DE PERÍODOS</strong>
                    <br>
                    <div class="text-center content-datosInformativos">{{plan.totalPeriodos }}</div>
                </td>
            </tr>
        </table>
        <br>
        <h5 class="titulo-subnivelUno">3.OBJETIVOS GENERALES</h5>
        <table class="heavyTable" style="margin: 0 auto; border:1px solid;">
            <tr>
                <td class="espacio-Objetivos" style="vertical-align: text-top;" >
                    <strong class="text-left titulo-datosInformativos">OBJETIVOS DEL ÁREA DEL CONOCIMIENTO</strong>
                    {{#each plan.objetivosAreaConocimiento}}

                        <div class="text-justify content-datosInformativos ">{{texto}}</div>
                    {{/each}}
                </td>
                <td style="vertical-align: text-top;" class="espacio-Objetivos">
                    <strong class="text-left titulo-datosInformativos">OBJETIVOS DEL GRADO/CURSO</strong>
                    {{#each plan.objetivosIntegradores}}

                    <div class="text-justify content-datosInformativos ">{{texto }}</div>
                    {{/each}}
                </td>
            </tr>
        </table>
        <br>
        <h5 class="titulo-subnivelUno">4.DESARROLLO DE UNIDADES DE PLANIFICACIÓN</h5>
        {{#each unidades}}
            <table class="heavyTable" style="margin: 0 auto; border:1px solid;">

                <tr>
                    <td class="format-numeroUnidad" style="vertical-align: text-top;" >
                        <div class=" formato-tituloNumeroUnidad">Nº</div>
                            <div class="text-center content-datosInformativos ">{{numeroUnidad}}</div>
                    </td>
                    <td style="vertical-align: text-top;" class="espacio-Objetivos">
                        <strong class="text-left titulo-datosInformativos">TÍTULO DE LA UNIDAD DE PLANIFICACIÓN</strong>
                            <div class="text-center content-datosInformativos ">{{titulo}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="format-numeroUnidad" style="vertical-align: text-top;" >
                        <div class="formato-tituloDuracion">DURACIÓN</div>
                        <div class="text-center content-datosInformativos ">{{duracionUnidad}}<br>Semanas</div>
                    </td>

                    <td style="vertical-align: text-top;" class="espacio-Objetivos">
                        <strong class="text-left titulo-datosInformativos">OBJETIVOS ESPECÍFICOS DE LA UNIDAD DE PLANIFICACIÓN</strong>
                        {{#each objetivosEspecificos}}
                            <div class="text-justify content-datosInformativos ">{{texto}}</div>
                        {{/each}}
                     </td>
                </tr>

            </table>
            <table class="heavyTable" style="margin: 0 auto; border:1px solid;">

                <tr>
                    <td style="vertical-align: text-top;" class="espacio-Objetivos">
                        <strong class="text-left titulo-datosInformativos">CONTENIDOS</strong>
                        {{#each contenidosConceptuales}}
                            <div class="text-justify content-datosInformativos ">{{texto}}</div>
                        {{/each}}
                    </td>
                    <td style="vertical-align: text-top;" class="espacio-Objetivos">
                        <strong class="text-left titulo-datosInformativos">DESTREZAS</strong>
                        {{#each destrezas}}
                            <div class="text-justify content-datosInformativos ">{{texto}}</div>
                        {{/each}}
                    </td>
                    <td style="vertical-align: text-top;" class="espacio-Objetivos">
                        <strong class="text-left titulo-datosInformativos">ORIENTACIONES METODOLÓGICAS</strong>
                        {{#each orientacionesMetodologicas}}
                            <div class="text-justify content-datosInformativos ">{{texto}}</div>
                        {{/each}}
                    </td>
                    <td style="vertical-align: text-top;" class="espacio-Objetivos">
                        <strong class="text-left titulo-datosInformativos">EVALUACIÓN</strong>
                        {{#each criteriosindicadoresEvaluacion}}
                            <div class="text-justify content-datosInformativos ">{{texto}}</div>
                        {{/each}}
                    </td>
                </tr>


            </table>
            <br>
        {{/each}}
        <br>

        <h5 class="titulo-subnivelUno">5.BIBLIOGRAFÍA Y WEBGRAFÍA</h5>
        <table class="heavyTable" style="margin: 0 auto; border:1px solid;vertical-align:middle">
            <tr>
                <td>
                    {{#each plan.bibliografia}}

                        <div class="text-center content-datosInformativos">{{texto}}</div>

                    {{/each}}
                </td>
            </tr>
        </table>
        <h5 class="titulo-subnivelUno">6.ELABORACIÓN, REVISIÓN Y APROBACIÓN</h5>
        <table class="heavyTable" style="margin: 0 auto; border:1px solid;vertical-align:middle">
            <tr>
                <td>
                    <div class="formato-tituloDuracion">ELABORADO POR</div>
                    {{#each plan.docentes}}
                        <br>
                        <div class="text-center content-datosInformativos">{{nombre}}</div>
                    {{/each}}
                </td>
                <td>
                    <div class="formato-tituloDuracion">REVISADO POR</div>
                    <br>
                        <div class="text-left content-datosInformativos">Nombre:</div>
                    <div class="text-center content-datosInformativos">Jefe de área de conocimiento</div>
                </td>
                <td>
                    <div class="formato-tituloDuracion">APROBADO POR</div>
                    <br>
                    <div class="text-left content-datosInformativos">Nombre:</div>
                    <div class="text-center content-datosInformativos">Coordinador académico</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="formato-tituloDuracion">FECHA</div>
                    <br>
                </td>
                <td>
                    <div class="formato-tituloDuracion">FECHA</div>
                    <br>
                </td>
                <td>
                    <div class="formato-tituloDuracion">FECHA</div>
                    <br>
                </td>
            </tr>

        </table>

    </form>
    {{> FooterReport}}
    <div class="hidden-print">
        <div class="col-md-9"></div>
        <nav class=" col-md-3 main-nav">
            <ul>
                <button class="col-md-12 fa fa-arrow-left btn-default navYearPlanner-leftCorner regresar" > Regresar</button>

                <button class=" col-md-12 fa fa-file-pdf-o btn-default navYearPlanner-rightCorner generarPDF"> Descargar PDF</button>

            </ul>
        </nav>

    </div>
</template>