<template name="ReportePlanMicro">
    <div class="hidden-print">
        {{> sAlert}}
    </div>

    <div class="visible-print-block" style="text-align:center; ">
        <h4  ><strong class="titulo-Plan">PLAN MICROCURRICULAR</strong></h4>
        <br>

        <h5 class="titulo-subnivelUno">1.DATOS INFORMATIVOS</h5>
    </div>
    <form id="competenciasForm">
        <table class="heavyTable" style="margin: 0 auto; border:1px solid;vertical-align:middle">
            <tr>
                <td>
                    <strong class="text-left titulo-datosInformativos">ÁREA CONOCIMIENTO</strong>
                    <br>
                    <div class="text-center content-datosInformativos">{{plan.areaConocimiento}}</div>
                </td>
                <td>
                    <strong class="text-left titulo-datosInformativos">ASIGNATURA</strong>
                    <br>
                    <div class="text-center content-datosInformativos">{{plan.asignatura }}</div>
                </td>
            </tr>


        </table>
        <table class="heavyTable" style="margin: 0 auto; border:1px solid;vertical-align:middle">
            <tr>
                <td>
                    <strong class="text-left titulo-datosInformativos">DOCENTES</strong>

                    {{#each plan.docentes}}

                        <div class="text-center content-datosInformativos">{{nombre}}</div>

                    {{/each}}
                </td>
            </tr>
        </table>

        <table class="heavyTable" style="margin: 0 auto; border:1px solid;vertical-align:middle">
            <tr>
                <td>
                    <strong class="text-left titulo-datosInformativos">SUBNIVEL EDUCATIVO</strong>
                    <br>
                    <div class="text-center content-datosInformativos">{{plan.subnivelEducativo}}</div>
                </td>
                <td>
                    <strong class="text-left titulo-datosInformativos">GRADO/CURSO</strong>
                    <br>
                    <div class="text-center content-datosInformativos">{{plan.gradoCurso }}</div>
                </td>
            </tr>


        </table>

        <h5 class="titulo-subnivelUno">2.DESARROLLO DE UNIDADES DE PLANIFICACIÓN</h5>

            <table class="heavyTable" style="margin: 0 auto; border:1px solid;">

                <tr>
                    <td class="format-numeroUnidad" style="vertical-align: text-top;" >
                        <div class=" formato-tituloNumeroUnidad">Nº</div>
                        <div class="text-center content-datosInformativos ">{{unidades.numeroUnidad}}</div>
                    </td>
                    <td style="vertical-align: text-top;" class="espacio-Objetivos">
                        <strong class="text-left titulo-datosInformativos">TÍTULO DE LA UNIDAD DE PLANIFICACIÓN</strong>
                        <div class="text-center content-datosInformativos ">{{unidades.titulo}}</div>
                    </td>
                    <td class="format-numeroUnidad" style="vertical-align: text-top;" >
                        <div class="formato-tituloDuracion">DURACIÓN</div>
                        <div class="text-center content-datosInformativos ">{{unidades.duracionUnidad}}<br>Semanas</div>
                    </td>

                </tr>
            </table>
            <table class="heavyTable" style="margin: 0 auto; border:1px solid;">
                <tr>

                    <td style="vertical-align: text-top;" class="espacio-Objetivos">
                        <strong class="text-left titulo-datosInformativos">OBJETIVOS ESPECÍFICOS DE LA UNIDAD DE PLANIFICACIÓN</strong>
                        {{#each unidades.objetivosEspecificos}}
                            <div class="text-justify content-datosInformativos ">{{texto}}</div>
                        {{/each}}
                    </td>
                </tr>

            </table>
            <table class="heavyTable" style="margin: 0 auto; border:1px solid;">

                <tr>
                    <td style="vertical-align: text-top;" class="espacio-Objetivos">
                        <strong class="text-left titulo-datosInformativos">INDICADORES ESCENCIALES DE EVALUACIÓN</strong>
                        {{#each unidades.criteriosindicadoresEvaluacion}}
                            <div class="text-justify content-datosInformativos ">{{texto}}</div>
                        {{/each}}
                    </td>
                    <td style="vertical-align: text-top;" class="espacio-Objetivos">
                        <strong class="text-left titulo-datosInformativos">DESTREZAS</strong>
                        {{#each unidades.destrezas}}
                            <div class="text-justify content-datosInformativos ">{{texto}}</div>
                        {{/each}}
                    </td>
                </tr>
            </table>
            <br>

        <h5 class="titulo-subnivelUno">3.PLANIFICACIÓN DE LA UNIDAD</h5>


            <table class="heavyTable" style="margin: 0 auto; border:1px solid;">

                <tr>
                    <td class="format-numeroUnidad" style="vertical-align: text-top;" >
                        <div class=" formato-tituloNumeroUnidad">TIEMPO</div>
                    </td>
                    <td style="vertical-align: text-top;" class="espacio-Objetivos">
                        <strong class="text-left titulo-datosInformativos">CONTENIDOS CONCEPTUALES Y PRODUCTOS (EVALUACIÓN)</strong>

                    </td>
                    <td style="vertical-align: text-top;" class="espacio-Objetivos">
                        <strong class="text-left titulo-datosInformativos">ACTIVIDADES</strong>
                      </td>
                    <td style="vertical-align: text-top;" class="espacio-Objetivos">
                        <strong class="text-left titulo-datosInformativos">TÉCNICAS E INSTRUMENTOS</strong>
                      </td>
                </tr>
        {{#each contenidos}}
                <tr>
                    <td class="format-numeroUnidad" style="vertical-align: text-top;" >
                        <div class="text-center content-datosInformativos ">{{duracionContenido}} <br> Semanas</div>
                    </td>
                    <td style="vertical-align: text-top;" class="espacio-Objetivos">

                        <div class="text-justify content-datosInformativos ">{{texto}} ({{producto}})</div>

                    </td>
                    <td style="vertical-align: text-top;" class="espacio-Objetivos">
                        {{#each actividades}}
                            <div class="text-justify content-datosInformativos ">{{texto}} ({{detalle}})</div>
                        {{/each}}
                    </td>
                    <td style="vertical-align: text-top;" class="espacio-Objetivos">
                        {{#each rtis}}
                            <div class="text-justify content-datosInformativos ">{{texto}} ({{instrumento}})</div>
                        {{/each}}
                    </td>
                </tr>
        {{/each}}
            </table>
            <br>

        <h5 class="titulo-subnivelUno">4.ADAPTACIONES CURRICULARES</h5>
        <table class="heavyTable" style="margin: 0 auto; border:1px solid;">

            <tr>
                <td>
                    <div class="formato-tituloNumeroUnidad">ESPECIFICACIÓN DE LA NEE</div>
                </td>
                <td>
                    <div class="formato-tituloNumeroUnidad">ADAPTACIÓN A SER APLICADA</div>
                </td>
            </tr>
            {{#each unidades.adaptacionesCurriculares}}
                <tr>
                    <td style="vertical-align: text-top;" class="espacio-Objetivos">
                            <div class="text-justify content-datosInformativos ">{{nee}}</div>
                    </td>
                    <td style="vertical-align: text-top;" class="espacio-Objetivos">
                            <div class="text-justify content-datosInformativos ">{{diac}}</div>

                    </td>
                 </tr>
             {{/each}}
        </table>

        <h5 class="titulo-subnivelUno">5.ELABORACIÓN, REVISIÓN Y APROBACIÓN</h5>
        <table class="heavyTable" style="margin: 0 auto; border:1px solid;vertical-align:middle">
            <tr>
                <td>
                    <div class="formato-tituloDuracion">ELABORADO POR</div>
                    {{#each plan.docentes}}
                        <br>
                        <div class="text-center content-datosInformativos">{{nombre}}</div>
                    {{/each}}
                </td>
                <td>
                    <div class="formato-tituloDuracion">REVISADO POR</div>
                    <br>
                    <div class="text-left content-datosInformativos">Nombre:</div>
                    <div class="text-center content-datosInformativos">Jefe de área de conocimiento</div>
                </td>
                <td>
                    <div class="formato-tituloDuracion">APROBADO POR</div>
                    <br>
                    <div class="text-left content-datosInformativos">Nombre:</div>
                    <div class="text-center content-datosInformativos">Coordinador académico</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="formato-tituloDuracion">FECHA</div>
                    <br>
                </td>
                <td>
                    <div class="formato-tituloDuracion">FECHA</div>
                    <br>
                </td>
                <td>
                    <div class="formato-tituloDuracion">FECHA</div>
                    <br>
                </td>
            </tr>

        </table>

    </form>
    {{> FooterReport}}
    <div class="hidden-print">
        <div class="col-md-9"></div>
        <nav class=" col-md-3 main-nav">
            <ul>
                <button class="col-md-12 fa fa-arrow-left btn-default navYearPlanner-leftCorner regresar" > Regresar</button>

                <button class=" col-md-12 fa fa-file-pdf-o btn-default navYearPlanner-rightCorner generarPDF"> Descargar PDF</button>

            </ul>
        </nav>

    </div>
</template>