<template name="Report">
{{>InfoReportes}}
    <h2><strong title="¿Necesitas Ayuda?" class="informacionICO informacionReporte"><i class=" fa fa-info-circle"></i></strong></h2>
            <h3 class="text-center" >Reportes Planificación</h3>
    <form id="competenciasForm">
        <div class="col-md-2"></div>
            <div class="container col-md-8">
                <table class="blueTable col-md-12" style="margin: 0 auto; border:1px solid;vertical-align:middle">
                <tr>
                        <th><h5>Eliminar</h5></th>
                        <th><h5>Nombre del Archivo</h5></th>
                         <th><h5>Nombre del Plan</h5></th>
                    <th><h5>Fecha de creación</h5></th>
                    </tr>
                    {{#each reportes}}
                        <tr>
                            <td class="eliminarReporte text-center pointerCursor"><i  class="fa fa-close"></i></td>
                            <td class="user_id"><a target="_blank" data-toggle="tooltip" title="Presiona aquí para visualizar" href={{ruta}}>{{nombre}}</a></td>
                            <td class="text-center">{{nombrePlan}}</td>
                            <td class="text-center">{{dateFormat}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>

    </form>

</template>