<template name="ControlActividades">
    {{> sAlert}}
    {{> ConfiguracionCatalog}}


    <legend class="text-center">SEGUIMIENTO Y CONTROL</legend>

    <div class="col-md-4"></div>


        {{> PresentarPlanAnual}}

    {{#if ocultarNuevoPlanFrm}}
        <span class="text-right col-md-12 color-azul">Presentando actividades del Plan:"{{getCurrentPlan}}"</span>

        {{> GenericTask}}


    {{/if}}
        {{>AppNav}}
</template>