<template name="PlanAnualCombo">

        <form id="IngresarContenidosFrm">

            <fieldset>
                <legend>Mis Planes Anuales</legend>


                <div class="col-md-12">
                    <div class="col-md-10 col-xs-12">
                        <select class=" roundSelect col-md-10 col-lg-10 col-sm-12 col-xs-12 slcContenidosPlanAnual select2" id="slcContenidosPlanAnual">
                            <option  value="" class="text-center">Seleccionar</option>

                            {{#each userPlans}}

                                <option id="{{_id}}" value="{{_id}}" class="text-center">{{nombre}}--<strong>Creado el: </strong>{{dateFormat}}</option>
                            {{/each}}

                        </select>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12">
                        <button class="col-md-2 col-lg-12 col-xs-12 col-sm-12 btn-bitbucket btn-Agregar addButtonRounded btn-SeleccionarPlan"><strong><i class="fa fa-edit"></i>Revisar</strong></button>
                    </div>
                </div>



            </fieldset>
        </form>





</template>