<template name="VentanaAdjunto">

    <div class="col-md-12 login-modal {{$.Session.get 'nav-ventanaAdjunto'}}">
        <i class="fa fa-close close-coment login-toggle"></i>
        <form id="VentanaAdjuntoFrm">


            <fieldset>
                <legend class="fa fa-upload">Adjunto</legend>

                <div class="col-md-12">
                    <div class="datagrid"><table>
                        <thead><tr><th>Nombre</th><th>Recorrido</th><th>Descargar</th></tr></thead>

                        <tbody>
                            {{#each contenidoConceptual}}
                                <tr><td>{{nombre}}</td><td>{{recorrido}}</td><td class="text-center"><a href="{{linkDescarga}}?download=true" target=”_blank” class="fa fa-download"></a></td></tr>
                            {{/each}}
                         </tbody>
                    </table></div>

                </div>






            </fieldset>


        </form>
    </div>




</template>