<template name="VentanaComentario">

    <div class="col-md-12 login-modal {{$.Session.get 'nav-ventanaComentario'}}">
        <i class="fa fa-close close-coment login-toggle"></i>
        <form id="VentanaCoemntFrm">


            <fieldset>
                <legend class="fa fa-comments-o">Comentarios</legend>

                <div class="col-md-12">
                    <div class="datagrid"><table>
                        <thead><tr><th>Comentario</th><th>Recorrido</th></tr></thead>

                        <tbody>
                {{#each contenidoConceptual}}
                    <tr><td>{{texto}}</td><td>{{recorrido}}</td></tr>
                {{/each}}
                         </tbody>
                    </table></div>

                </div>






            </fieldset>


        </form>
    </div>




</template>