<template name="VentanaAcciones">

    <div class="col-md-12 login-modal {{$.Session.get 'nav-ventanaAcciones'}}">
        <i class="fa fa-close close-actividad login-toggle"></i>
        <form id="AccionestaskFrm">

            <fieldset>
                <legend class="fa fa-cog">Acciones</legend>


                <div class="col-md-12">
                    <select class="roundSelect slcEstadoContenidosConceptuales  col-md-12" id="slcEstadoContenidosConceptuales" >
                        <option value="" disabled selected>Seleccione</option>
                        <option value="Completado.text-green">Completado</option>
                        <option value="En curso.text-yellow ">En curso </option>

                        <option value="No completado.text-red">No completado </option>

                    </select>

                    <textarea rows="5" class="col-md-12 txtAreaComentarioTask"  placeholder="Realice su comentario (máximo 140 caracteres)" maxlength="70"  id="txtAreaComentarioTask"></textarea>

                    {{#with currentUpload}}
                        Archivo adjuntado: <b>{{file.name}}</b>:
                        <span class="fa fa-spin"><i class="fa fa-cog text-blue"></i></span><span class="text-warning">Esperando Confirmación</span>
                    {{else}}

                        <input id="fileInput" type="file" />
                        <p><small>Archivo en formato <code>pdf</code> or <code>rar</code> de máximo 25MB</small></p>
                    {{/with}}



                    <div class="col-md-2"></div>
                    <button class=" btn-default btn-AgregarAccionTask addButtonRounded"><strong><i class="fa fa-check"></i>Aceptar</strong></button>
                </div>

            </fieldset>


        </form>
    </div>




</template>