<template name="ContenidosUnidad">


    <div class="col-md-12">
        <form id="ContenidosUnidadFrm">


                <div class="col-md-12">
                    <div class="col-md-5"></div>
                    {{> Actividades}}
                    {{> RTI}}

                </div>
                <div class="col-md-12">
                    <button class="color-boton-unidad btn-terminarDespuesCC btn-primary fa fa-arrow-left addButtonRounded"> Terminar Después</button>
                    <button class="color-boton-unidad btn-guardarUnidadCC btn-success fa fa-save addButtonRounded"> Terminar</button>

                </div>


        </form>


    </div>

</template>