<template name="ContenidoConceptual">
    {{> ContenidosCatalog}}

    <div class="col-md-12">
        <fieldset>
            <legend>Contenidos Conceptuales</legend>
            <div class="col-md-12">
                <div class="col-md-10"></div>
                <button class="btnAgregarContenido addButtonRounded col-md-2"><i class="fa fa-plus-circle"> Agregar</i></button>
            </div>
            <div class="container col-md-12">
                <table class="blueTable">
                    <tr>
                        <th class="text-center">Editar</th>
                        <th class="text-center">Eliminar</th>
                        <th class="text-center">Tiempo (Semanas)</th>
                        <th class="text-center">Contenido Conceptual</th>
                    </tr>

                    {{#each  contenidosConceptualesUnidad}}
                        <tr>
                            <td class="editarContenido text-center pointerCursor"><i class="fa fa-pencil"></i></td>
                            <td class="eliminarContenido text-center pointerCursor"><i class="fa fa-close"></i></td>
                            <td class="text-center">{{duracionContenido}}</td>
                            <td class="text-center">{{texto}} ({{producto}})</td>

                        </tr>
                    {{/each}}
                </table>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-12">
                <div class="col-md-3"></div>
                {{#if detalleContenido}}
                    <br>
                    {{#if editarContenido}}
                        <div><h4>Detalle:</h4></div>
                        <input name="productoContenido" class="form-control" placeholder="ingrese el nuevo detalle" id="productoContenido" maxlength="70">
                        <div><h4>Tiempo:</h4></div>
                        <input name="tiempoContenido" type="number" class="form-control numeroContenido" placeholder="ingrese el nuevo tiempo" id="tiempoContenido" min="0">
                    {{/if}}
                        {{> ContenidosUnidad}}
                {{/if}}

            </div>
           </fieldset>
    </div>
</template>