<template name="RTI">
{{> RTICatalog}}
    <div class="col-md-12">
        <fieldset>
            <legend>Técnicas e Instrumentos</legend>


            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-10"></div>
                    <button class="btnRTI addButtonRounded col-md-2"> <i class="fa fa-plus-circle"> Agregar</i></button>
                </div>

            </div>
            <div class="container col-md-12">
                <table class="blueTable">
                    <tr>
                        <th class="text-center">Eliminar</th>
                        <th class="text-center">Técnicas e Instrumentos</th>
                    </tr>
                    {{#each  rti}}
                        <tr>
                            <td class="eliminarRTI text-center pointerCursor"><i class="fa fa-close"></i></td>
                            <td class="text-center">{{texto}} ({{instrumento}})</td>

                        </tr>
                    {{/each}}

                </table>
            </div>
            <div class="col-md-3"></div>
        </fieldset>
    </div>
</template>