<template name="UnidadesPlan">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form id="UnidadesPlanFrm">

            <fieldset>
                <legend class="text-center">Unidades</legend>

                <table class="blueTable">
                    <tr>
                        <th class="text-center">Planificar</th>
                        <th class="text-center">Unidad</th>
                        <th class="text-center">Titulo</th>
                    </tr>
                    {{#each  unidadesP}}
                        <tr>
                            <td class="editarPlanUnidad text-center pointerCursor"><i class="fa fa-pencil"></i></td>
                            <td class="text-center">{{numeroUnidad}}</td>
                            <td class="text-center">{{titulo}}</td>

                        </tr>
                    {{/each}}


                </table>


            </fieldset>


        </form>

    </div>

    <div class="col-md-12">
        <div class="col-md-3"></div>
        {{#if editMode}}
            {{> UnidadPlan}}
            {{#if modoCompartidoUnidad}}
                {{>ReportNav}}
            {{/if}}
        {{/if}}

    </div>

</template>