<template name="UnidadPlan">


    <div class="col-md-12">
        <form id="UnidadPlanFrm">

            <fieldset>
                <legend class="text-center">Unidad de planificación</legend>
                <span class="text-right col-md-12 color-azul">Planificando Unidad: {{currentUnity}} </span>
                    {{> ContenidoConceptual}}
                {{> AdaptacionesCurriculares}}
                <div class="col-md-12">
                    <div class="col-md-5"></div>


                </div>
            </fieldset>


        </form>


    </div>

</template>