<template name="AppNav">
    {{#if isInRole 'deshabilitado'}}

            <h2 class="text-center rojoDesahabilitado">Cuenta Deshabilitada</h2>
            <h4 class="text-center homeTitle">contactese con el administrador de servicio para reactivar su cuenta, cierre sessión para salir</h4>

    {{else}}
        <div class="app-nav">
            <ul>
                <li><a href="/dashboard"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
            </ul>
            {{#if isInRole 'admin'}}
                <ul>
                    <li><a href="/admin/users"><i class="fa fa-users"></i> <span>Usuarios</span></a></li>
                </ul>
            {{/if}}
            {{#if isInRole 'educador'}}
                <ul>
                    <li><a href="/educador/planAnual"><i class="fa fa-calendar"></i> <span>Planificación Curricular</span></a></li>

                </ul>

            {{/if}}
            {{#if isInRole 'educadorEL'}}

                <ul>
                    <li><a href="/educador/planElemental"><i class="fa fa-calendar-o"></i> <span>Planificación Elemental</span></a></li>

                </ul>

            {{/if}}
            <ul>
                <li><a href="/controlActividades"><i class="fa fa-cloud-upload"></i> <span>Evidencias de Aprendizaje</span></a></li>
            </ul>
            {{#if isInRole 'coordinador'}}
            <ul>
                <li><a href="/dashboardResume"><i class="fa fa-paper-plane-o"></i> <span>Seguimiento</span></a></li>
            </ul>
            {{/if}}

        </div>
    {{/if}}

</template>