<template name="HeaderReport">
    <header class="headerReport">
        <h4 class="site-title paddingImg"><img alt="Reporte" src="/logoCabeceraReporte.png" width="200"></h4>

    </header>

</template>