<template name="Header">
    <header class="header">



        <h4 class="site-title "><a href="/"><img alt="Level Up Tutorials Logo" class="blancoICO" src="/logo.png" width="60"> <strong class="rojoICO">Coana</strong><sub class="rojoICO">Easy Planner</sub> </a></h4>
        {{> MainNav}}
    </header>

    {{> LoginModal}}
</template>