<template name="MainNav">
    <nav class=" col-md-8 main-nav">
        <ul>

            {{#if currentUser}}
                <div class="col-md-10 rojoICO"><h5><strong class="rojoICO">Hola {{logedUser}} bienvenido a EASY PLANNER</strong></h5></div>
                <li class="col-md-2 logout upPadding logCursor "><h5><strong class="rojoICO">Cerrar Sesión</strong></h5></li>

            {{else}}
                <div class="col-md-10"></div>
                <li class="login-toggle col-md-2 upPadding pointerCursor"><h5><strong>Iniciar Sesión</strong></h5></li>
            {{/if}}
            </ul>

    </nav>

</template>