<template name="Destrezas">
    {{> DestrezasCatalog}}

    <div class="col-md-12">
        <fieldset>
            <legend>Destrezas</legend>


            <div class="container col-md-12">
                <table class="blueTable">
                    <tr>
                        <th class="text-center">Eliminar</th>
                        <th class="text-center">Contenido</th>
                    </tr>

                    {{#each  destrezas}}
                        <tr>
                            <td class="eliminarDestrezas text-center pointerCursor"><i class="fa fa-close"></i></td>
                            <td class="text-center">{{texto}}</td>

                        </tr>
                    {{/each}}
                </table>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-12">
                <div class="col-md-10"></div>
                <button class="btnAgregarDdestrezas addButtonRounded col-md-2"><i class="fa fa-plus-circle"> Agregar</i></button>
            </div>
        </fieldset>
    </div>
</template>