<template name="OrientacionesMetodologicas">

    <div class="col-md-12">
        <fieldset>
            <legend>Orientaciones Metodologicas</legend>


            <div class="col-md-12">
                <label for="inputOrientacionMetologica">Orientacion Metodológica:</label>
                <input type="text" id="inputOrientacionMetologica" class="col-md-11" name="orientacionMetodologica" placeholder="escriba la orientación metodologica..." >
                <div class="col-md-12">
                    <div class="col-md-9"></div>
                    <button class="btnAgregarOrientacion addButtonRounded col-md-3"> <i class="fa fa-plus-circle"> Agregar</i></button>
                </div>

            </div>
            <div class="container col-md-12">
                <table class="blueTable">
                    <tr>
                        <th class="text-center">Eliminar</th>
                        <th class="text-center">Orientacion</th>
                    </tr>
                    {{#each  orientaciones}}
                        <tr>
                            <td class="eliminarOrientacion text-center pointerCursor"><i class="fa fa-close"></i></td>
                            <td class="text-center">{{texto}}</td>

                        </tr>
                    {{/each}}

                </table>
            </div>
            <div class="col-md-3"></div>
        </fieldset>
    </div>
</template>