<template name="Unidad">


    <div class="col-md-12">
        <form id="UnidadFrm">

            <fieldset>
                <legend class="text-center">Unidad de planificación</legend>
                <span class="text-right col-md-12 color-azul">Editando Unidad: {{currentUnityG}} </span>
            {{#if isAnual}}
                {{> ObjetivoEspecificos}}
                {{> Destrezas}}
                {{> OrientacionesMetodologicas}}
                {{> CriteriosIndicadoresEvaluacion}}
            {{/if}}
                {{#if isElemental}}
                    {{> ObjetivoEspecificos}}
                    {{> Destrezas}}
                    {{> CriteriosIndicadoresEvaluacion}}
                    {{/if}}
            <div class="col-md-12">
                <div class="col-md-5"></div>

                <button class="color-boton-unidad btn-terminarDespues btn-primary fa fa-arrow-left addButtonRounded"> Terminar Después</button>
                <button class="color-boton-unidad btn-guardarUnidad btn-success fa fa-save addButtonRounded"> Terminar</button>

            </div>
            </fieldset>


        </form>


    </div>

</template>