<template name="Unidades">
{{> NuevaUnidad}}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form id="UnidadesFrm">

            <fieldset>
                <legend class="text-center">Unidades</legend>
                <div class="col-md-12">
                    <div class="col-md-4"></div>
                    <button class="btn-AgregarUnidad addButtonRounded col-md-4"><i class="fa fa-plus-circle"> Agregar</i></button>
                </div>

                <table class="blueTable">
                    <tr>
                        <th class="text-center">Editar</th>
                        <th class="text-center">Eliminar</th>
                        <th class="text-center">Unidad</th>
                        <th class="text-center">Titulo</th>
                        <th class="text-center">Duración</th>
                    </tr>
                    {{#each  unidadesPlan}}
                        <tr>
                            <td class="editarPlan text-center pointerCursor"><i class="fa fa-pencil"></i></td>
                            <td class="eliminarPlan text-center pointerCursor"><i class="fa fa-close"></i></td>
                            <td class="text-center">{{numeroUnidad}}</td>
                            <td class="text-center">{{titulo}}</td>
                            <td class="text-center">{{duracionUnidad}}</td>

                        </tr>
                    {{/each}}


                </table>


            </fieldset>


        </form>

    </div>

    <div class="col-md-12">
        <div class="col-md-3"></div>
        {{#if editMode}}
            {{> EditarUnidadCabecera}}
        {{/if}}

    </div>
    <div class="col-md-12">
        {{#if nuevaUnidadController}}
            {{> Unidad}}
        {{/if}}
    </div>
</template>