<template name="ActividadComprension">

{{#if $.Session.get 'nav-actividades-comprension'}}
    <div class="col-md-12 ">

    <form id="ActividadComprensionFrm">

            <fieldset>

                <legend class="text-center"> Actividades de comprensión<i title="cerrar edicion" class="fa fa-close col-md-1 close-compresion pointerCursor "></i></legend>
                <span class="text-right col-md-12 color-azul">Completando Meta Nº: {{actividades.metaComprension}} </span>
                <div class="col-md-12">
                    {{> Tipo}}
                    {{> Inteligencias}}
                    {{> EvaluacionProyectos}}
                </div>
                <div class="col-md-12">
                    <div class="col-md-5"></div>

                    <button class="color-boton-unidad btn-guardarActividad btn-success fa fa-save addButtonRounded"> Terminar</button>

                </div>
            </fieldset>


        </form>
    </div>
{{/if}}



</template>