<template name="DesempenosComprension">
    {{>DesempenoCatalog}}

    <div class="col-md-12">
        <fieldset>
            <legend>Desempeños de Comprensión</legend>


            <div class="col-md-12">
                <div class="col-md-10"></div>
                <button class="btnActividades addButtonRounded col-md-2"> <i class="fa fa-plus-circle"> Agregar</i></button>
            </div>

            <div class="container col-md-12">
                <table class="blueTable">
                    <tr>
                        <th class="text-center">Completar</th>
                        <th class="text-center">Eliminar</th>
                        <th class="text-center">Meta</th>
                        <th class="text-center">Actividades</th>
                    </tr>
                    {{#each  actividadesList}}
                        <tr>
                            <td class="editarActividad text-center pointerCursor"><i class="fa fa-pencil"></i></td>
                            <td class="eliminarActividad text-center pointerCursor"><i class="fa fa-close"></i></td>
                            <td class="text-center">{{metaComprension}}</td>
                            <td class="text-left">{{texto}}</td>


                        </tr>
                    {{/each}}

                </table>
            </div>
            <div class="col-md-3"></div>
        </fieldset>

    </div>
    {{>ActividadComprension}}
</template>