<template name="HilosConductores">

    <div class="col-md-12">
        <fieldset>
            <legend>Hilos Conductores</legend>


            <div class="col-md-12">
                <label for="inputHiloConductor">Hilo Conductor:</label>
                <input type="text" id="inputHiloConductor" class="col-md-11" name="inputHiloConductor" placeholder="escriba la orientación metodológica" >
                <div class="col-md-12">
                    <div class="col-md-9"></div>
                    <button class="btnAgregarHilo addButtonRounded col-md-3"> <i class="fa fa-plus-circle"> Agregar</i></button>
                </div>

            </div>
            <div class="container col-md-12">
                <table class="blueTable">
                    <tr>
                        <th class="text-center">Eliminar</th>
                        <th class="text-center">Contenido</th>
                    </tr>
                    {{#each  hilosConductores}}
                        <tr>
                            <td class="eliminarHiloCoductor text-center pointerCursor"><i class="fa fa-close"></i></td>
                            <td class="text-center">{{texto}}</td>

                        </tr>
                    {{/each}}

                </table>
            </div>
            <div class="col-md-3"></div>
        </fieldset>
    </div>
</template>