<template name="Inteligencias">

        <div class="col-md-6 ">

            <form id="InteligenciasFrm">

                <fieldset>

                    <legend class="text-center">Inteligencias</legend>
                    <div class="col-md-12">

                        <div class="col-md-12">
                            <select name="inteligenciaSelect" class="slctUnidadEdt form-control" id="inteligenciaSelect">
                                <option value="">Seleccionar...</option>
                                {{#each inteligencias}}
                                    <option value="{{texto}}">{{texto}}</option>
                                {{/each}}
                            </select>
                            <table class="blueTable">
                                <tr>
                                    <th class="text-center">Quitar</th>
                                    <th class="text-center">Inteligencia</th>
                                </tr>
                                {{#each  actividades.inteligencias}}
                                    <tr>
                                        <td class="eliminarInteligencia pointerCursor text-center" title="Eliminar Inteligencia"><i class="fa fa-close"></i></td>
                                        <td class="text-center">{{texto}}</td>

                                    </tr>
                                {{/each}}
                            </table>
                        </div>

                    </div>

                </fieldset>


            </form>
        </div>



</template>