<template name="MetasComprension">
    <div class="col-md-12">
        <fieldset>
            <legend>Metas de comprensión</legend>

            <h5><em>Que los alumnos comprendan que...</em></h5>
            <div class="col-md-12">
                <input type="text" id="inputMeta" class="col-md-8" name="inputMeta" placeholder="escriba la meta de comprensión" >

                <div class="col-md-12">
                    <div class="col-md-9"></div>
                    <button class="btnAgregarMeta addButtonRounded col-md-3"> <i class="fa fa-plus-circle"> Agregar</i></button>
                </div>

            </div>
            <div class="container col-md-12">
                <table class="blueTable">
                    <tr>
                        <th class="text-center">Eliminar</th>
                        <th class="text-center">Meta de comprensión</th>
                    </tr>
                    {{#each  meta}}
                        <tr>
                            <td class="eliminarMeta text-center pointerCursor"><i class="fa fa-close"></i></td>
                            <td class="text-center">{{texto}}</td>

                        </tr>
                    {{/each}}

                </table>
            </div>
            <div class="col-md-3"></div>
        </fieldset>
    </div>

</template>