<template name="Project">
    {{> sAlert}}
    {{> ConfiguracionCatalog}}
    <div class="col-md-12">
        {{> ControlNav}}
    </div>

    <legend class="text-center">PROYECTO DE COMPRENSIÓN <i title="Configuración" id="configuracion"  class="pointerCursor-red botones-control btn-default fa fa-slideshare configuracionPlan"></i></legend>

    <div class="col-md-4"></div>
    {{#if $not agregarPlan}}
        {{> NuevoPlan}}
    {{/if}}
    {{#if $not editarPlan}}
        {{> EditarPlanAnual}}
    {{/if}}

    {{#if ocultarNuevoPlanFrm}}
        <span class="text-right col-md-12 color-azul">El proyecto "{{getCurrentPlan}}" esta siendo desarollado</span>
        {{> DatosInformativosProyectos}}
        {{> MetasComprension}}
        {{> TopicoGenerativo}}
        {{> HilosConductores}}
        {{> DesempenosComprension}}




        {{#if modoCompartido}}
            {{>ReportNav}}
        {{/if}}
    {{/if}}
    {{>AppNav}}

</template>