<template name="Tipo">
    <div class="col-md-6">
        <form id="tipoActividad">

            <fieldset>
                <legend>Tipo Actividad de Comprensión</legend>
                {{#if modoEdicionAL}}
                    <div class="col-md-12 text-center"  id="metaL">{{logedUserMeta}}</div>

                {{else}}
                    <div class="col-md-12 text-center"  id="metaL">{{tipoMeta.tipo}}</div>

                {{/if}}

                <select class="col-md-12 tipoActividadslc" id="tipoActividadslc">
                    <option value="null">Seleccionar...</option>
                    {{#each tipoActividad}}

                        <option id="{{_id}}" value="{{texto}}" class="text-center">{{texto}}</option>
                    {{/each}}
                </select>
            </fieldset>


        </form>
    </div>


</template>