<template name="TopicoGenerativo">

    <div class="col-md-12">
        <fieldset>
            <legend>Tópico Generativo</legend>


            <div class="col-md-12">
                <h5 class="col-md-11 text-center">{{topico}}</h5>
                <input type="text" id="inputTopico" class="col-md-11" name="inputTopico" placeholder="escriba el tópico..." >

            </div>
        </fieldset>
    </div>
</template>