@import 'sass/_normalize.scss';
@import 'sass/_base.scss';
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: $text;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 3.998em;
}

h2 {
    font-weight: 100;
    font-size: 3.157em;
}

h3 {
    font-size: 1.777em;
    font-weight: 100;
}

p {
    font-size: 1em;
}

a {
    color: $accent;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px 10px 7px 8px;

    border: groove;
    border-radius: 5px;
}
input[type='email']{
    margin-left: 30px;
}
input[type='password']{
    margin-left: 30px;
}
input[type="text"]{
    margin-left: 30px;
}
.btn, button {
    background: $action;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: 800;
    padding: 10px 51px 7px;
    color: #FFF;
    letter-spacing: 1px;
    border: solid 2px $action;
    @include trans();
    &:hover {
        background: $action - 30;
        border-color: $action - 30;
    }
}

.btn-text {
    @extend .btn;
    background: transparent;
}

.btn-primary {
    @extend .btn;
    background: $accent;
    border: solid 2px $accent;
    &:hover {
        background: $accent - 30;
        border-color: $accent - 30;
    }
}


.header {
    background: #FFFFFF;
    border-bottom: 1px solid #ba0c2f;
    color: $text;
    position: relative;
    z-index: 10;
    height: 80px;
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    @include card(1);
    a {
        color: $text;
    }
    .site-title {
        line-height: 0;
        margin: 0;
    }
}
.headerReport {
    background: white;
    border-bottom: 1px solid $dgrey;
    color: $text;
    position: relative;
    z-index: 10;
    height: 70px;
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    @include card(1);
    a {
        color: $text;
    }
    .site-title {
        line-height: 0;
        margin: 0;
    }
}
.main-nav {
    ul {
        list-style: none;
        display: flex;
        padding: 0;
    }
    li + li {
        margin-left: 20px;
    }
    a {
        text-decoration: none;
        border-bottom: 2px solid transparent;
    }
}

.login-toggle {
    cursor: pointer;
}


// Homepage
.billboard {
    background-image: url('/met-stars.png'), linear-gradient(#202023, #19283f);
    color: #FFF;
    text-align: center;
    border-bottom: 1px solid $dgrey;
    padding: 40px 5%;
}


.app-layout {
    margin-left: 80px;
    min-height: 100vh;
    padding: 40px 60px;
}

.app-nav {
    z-index: 9;
    position: fixed;
    width: 80px;
    left: 0;
    top: 0;
    height: 100vh;
    background: #222d32;
    overflow: hidden;
    color: whitesmoke;
    padding-top: 100px;
    transition: all 0.3s ease;
    border-right: solid 1px $dgrey;
    &:hover {
        width: 300px;
        a > span {
            opacity: 1;
            transform: translate3d(0, 0,0);
        }
    }
    a {
        width: 100%;
        padding: 10px 25px;
        color: whitesmoke;
        display: block;
        white-space: nowrap;
        font-size: 1em;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease;
        i {
            font-size: 2em;
            margin-right: 20px;
        }
        > span {
            transform: translate3d(20px, 0,0);
            opacity: 0;
            transition: background 0.3s ease;
        }
        &:hover {
            color: #FFF;
            border-color: $action;
            background: $nav - 20;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

.page-title {
    margin-top: 0;
}

/*table {
    font-size: 0.8em;
    width: 100%;
    position: relative;
    transition: all 0.4s cubic-bezier(0.68, -0.65, 0.265, 1.20);
    @include card(2);
    tr:nth-child(even) {
        background: #EEE
    }
    td, th {
        text-align: left;
        padding: 10px 5px;
    }
    th {
        text-transform: uppercase;
        background: $dblue;
        color: #fff;
    }
    &.edit-mode {
        transform: translate3d(300px, 0, 0);
    }
}*/
.user_id{
    color:$blue;
    cursor: pointer;
    text-align: center;
}

.user-edit {
    position: absolute;
    left: -300px;
    top:0;
    background: #fff;
    z-index:10;
    padding:20px;
    width: 280px;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.68,-0.65,0.265,1.20);
    @include card(2);
    .close-edit-mode{
        position: absolute;
        top:0;
        right:0;
        padding: 20px;
        font-size: 1.2em;
        font-weight: 900;
        text-transform: uppercase;
        cursor: pointer;
    }

}
.edit-mode .user-edit{
    opacity: 1;
}
.at-title{
    text-align: center;
}
.at-pwd-form{
    text-align: center;
}
.at-padding{
    margin-left: 5px;
}
.educador{
    background: #1b66ff;
    border:#1b66ff;
    border-radius: 10px;
}
.coordinador{
    background:goldenrod;
    border:goldenrod;
    border-radius: 10px;

}
.jefeArea{

    background:mediumseagreen;
    border:mediumseagreen;
    border-radius: 10px;

}
.admin{
    border-radius: 10px;
}
.upPadding{
    padding-top: 15px;
}
.pointerCursor{
    cursor: pointer;
    color: #1b66ff;
}
.btn-Agregar{
    cursor: pointer;
    color: #1b66ff;

}
.addButtonRounded{
    border-radius: 10px;
}
.space-normal{
    margin-bottom: 10px;
}
.template-frm{
shadow-level:2;
}
.navYearPlanner-leftCorner{
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px ;
}
.navYearPlanner-rightCorner{
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px ;
}
.pointerCursor-red{
    cursor: pointer;
    color: #de4f4f;
}
.border-special{
    border:groove;
}

.color-azul{
    color: dodgerblue;
}
.space-panel{
    padding-top: 10px;
}
.color-boton-unidad{
    background:cornflowerblue;
}
//reporte
.blue{
    color: #294d6b;

}

.paddingImg{
    padding-left :40px;
}
.marcaAgua{
    opacity: 0.8;
}
//colores
.celesteICO{
    color: #1d75b3;
}
.blancoICO{
    color: #ecf0f5;
}
.rojoICO{
    color: #902b2b;
}
.rojoResaltar{
    color: #aa1111;
}
.verdeICO{
    color: #1b7e5a;
}

.blueICO{
    color: #294d6b;
    font-weight: bold;
},
.white{
    color: whitesmoke;
}
.informacionICO{
    color: #1d75b3;
    cursor: pointer;
}
.informacionICO:hover{
    color: #294d6b;
    font-weight: bold;
}
.logCursor{
    cursor: pointer;
    color: #ecf0f5;
}
.logCursor:hover{
    font-style: inherit;
}
.blueBlacgroud{
    background: #294d6b;
}
.blancoBackground{
    background: #ecf0f5;
}
.homeTitle{
    color: #294d6b;
    font-weight: bold;
}
.rojoDesahabilitado{
    color: #9f191f;
    font-weight: bolder;
}
.recuadroDeshabilitado{
    border: solid;
    padding: 5px;
}
//creacion de usuarios
.border-cajas{
    border:groove;
    border-radius: 5px;


}

//ultima tabla
//.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 2px solid #006699; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }.datagrid table td, .datagrid table th { padding: 8px 7px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 12px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00557F; border-left: 1px solid #E1EEF4;font-size: 12px;border-bottom: 1px solid #E1EEF4;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEf4; color: #00557F; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEf4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #00557F; color: #FFFFFF; background: none; background-color:#006699;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #8C8C8C; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');background-color:#8C8C8C; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #A3A3A3; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #7D7D7D; border-left: 1px solid #DBDBDB;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #EBEBEB; color: #7D7D7D; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #8C8C8C;background: #EBEBEB;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #F5F5F5;border: 1px solid #8C8C8C;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');background-color:#8C8C8C; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #7D7D7D; color: #F5F5F5; background: none; background-color:#8C8C8C;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }
//todolist
.todolist{
    background-color:#FFF;
    padding:20px 20px 10px 20px;
    margin-top:30px;
    border-radius:15px;
}
.todolist h1{
    margin:0;
    padding-bottom:20px;
    text-align:center;
}
.form-control{
    border-radius:0;
}
li.ui-state-default{
    background:#fff;
    border:none;
    border-bottom:1px solid #ddd;

}

li.ui-state-default:last-child{
    border-bottom:none;
    border-radius:5px;
}

.todo-footer{
    background-color:#0d6aad;
    color: #ffffff;
    margin:0 -20px -10px -20px;
    padding: 10px 20px;
    border-radius:12px;
}
#done-items li{
    padding:10px 0;
    border-bottom:1px solid #ddd;
    text-decoration:line-through;
}
#done-items li:last-child{
    border-bottom:none;
}
#checkAll{
    margin-top:10px;
}
//luz parpadea
.parpadea {

    animation-name: parpadeo;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 0.65s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.roundSelect{
    border-radius: 8px;
}
//colores

.redCoana{
    color: #ba0c2f;
}
.pinkCoana{
    color: #ffb1bb;
}
.blackCoana{
    color: #101820;
}

//estilo cuadros
.todolistCuadrosDerecha{
    background-color:#FFF;
    padding:20px 20px 10px 20px;
    margin-top:30px;
    border-left: solid 1px #bdc3c7;
    border-right: solid 1px #bdc3c7;
    border-top: solid 1px #bdc3c7;
    border-bottom: solid 1px #bdc3c7;
    box-shadow: 1px 1px 1px 1px #bdc3c7;
    margin-bottom: 10px;

}
.todolistCuadrosIzquierda{
    background-color:#FFF;
    padding:20px 20px 10px 20px;
    margin-top:30px;
    border-top: solid 1px #bdc3c7;
    border-bottom: solid 1px #bdc3c7;
    border-right: solid 1px #bdc3c7;
    box-shadow: 1px 1px 1px 1px #bdc3c7;
    margin-bottom: 15px;
}
.todolist h1{
    margin:0;
    padding-bottom:20px;
    text-align:center;
}
//animacion
.pot{
    bottom:15%;
    position:absolute;
    -webkit-animation:linear alternate;
    -webkit-animation-name: run;
    -webkit-animation-duration: 1s;
}
@-webkit-keyframes run {
    0% { left: 0;}
    50%{ left : 100%;}
    //100%{ left: 0;}
}
//siwtch
.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
