<template name="EvaluacionProcesosCatalog">

    <div class="col-md-12 login-modal {{$.Session.get 'nav-indicadores'}}">
        <i class="fa fa-close close-ingresarIndicadores login-toggle"></i>
        <form id="IngresarIndicadoresFrm">

            <fieldset>
                <legend>Indicadores</legend>


                <div class="col-md-12">
                    <select name="slcSeleccionarTipo" class="col-md-12" style="max-width: 100%" id="slcSeleccionarTipo">
                        <option value="">Seleccionar...</option>
                        <option value="Evaluación del aprendizaje individual de los miembros">Evaluación del aprendizaje individual de los miembros</option>
                        <option value="Evaluación de la productividad del grupo">Evaluación de la productividad del grupo</option>
                        <option value="Proceso de pequeño grupo">Proceso de pequeño grupo</option>
                        <option value="Proceso con clase entera">Proceso con clase entera</option>

                    </select>

                    <select name="slcSeleccionarIndicadorCriterio" id="slcSeleccionarIndicadorCriterio">
                        <option value="">Seleccionar...</option>
                        <option value="criterio">Criterio de Evaluación</option>
                        <option value="indicador">Indicador de Evaluación</option>
                    </select>
                    <select class="col-md-12 slcIndicadores select2" id="slcIndicadores">
                        <option value="" class="text-center">Seleccionar...</option>
                        {{#each indicadores}}

                            <option id="{{_id}}" value="{{indicador}}" class="text-center">{{indicador}}</option>
                        {{/each}}

                    </select>
                    <textarea rows="5" class="col-md-12" disabled id="txtAreaIndicadores"></textarea>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <button class=" btn-default btn-verIndicadores addButtonRounded"><strong><i class="fa fa-search-plus"></i>Detalle</strong></button>
                    <button class=" btn-default btn-AgregarIndicador addButtonRounded"><strong><i class="fa fa-plus-square"></i>Agregar</strong></button>
                </div>

            </fieldset>


        </form>
    </div>




</template>