<template name="Fecha">
    <div class="col-md-3"> </div>
    <div class="col-md-6">
        <form id="Fecha">

            <fieldset>
                <legend>Fecha de ejecución</legend>



                <input type="date" class="form-control col-md-8" required id="fechaEjecucion" placeholder="mm/dd/aaaa">
                <div class="col-md-1"></div>
                <button class="botonFecha col-md-2 text-center addButtonRounded ">Aceptar</button>

            </fieldset>


        </form>
    </div>


</template>