<template name="TiempoSection">
    <form name="tiempo">
    <fieldset>
        <legend class="text-center">Tiempo </legend>
        <div class="col-md-6">
            <label for="inCargaHorariaSemanal" class="col-md-6">Carga Horaria Semanal: </label>
            <input type="number" min="0" class="col-md-4 text-center" name="inCargaHorariaSemanal" value="{{cargaHorariaSemanal}}" id="inCargaHorariaSemanal"> horas
        </div>
        <div class="col-md-6">
            <label for="inEvaluacionAprendizaje" class="col-md-6">Evaluacion de Aprendizaje e Inprevistos: </label>
            <input type="number" min="0" class="col-md-4 text-center" readonly value="{{imprevistos}}" name="inEvaluacionAprendizaje" id="inEvaluacionAprendizaje"> semanas
        </div>
        <div class="col-md-6">
            <label for="inTotalSemanasClase" class="col-md-6" >Total Semanas de Clase: </label>
            <input type="number" min="0" class="col-md-4 text-center" readonly name="inTotalSemanasClase" value="{{tiempoSemanas}}" id="inTotalSemanasClase"> semanas
        </div>
        <div class="col-md-6">
            <label for="inTotalPeriodos" class="col-md-6">Total Periodos: </label>
            <input type="number" min="0" class="col-md-4 text-center" value="{{totalPeriodos}}" readonly  name="inTotalPeriodos" id="inTotalPeriodos"> horas
        </div>
   </fieldset>
    </form>
</template>